
/* ::::: http://arc.aiaa.org/templates/jsp/_style2/_pagebuilder/reset-fonts-grids.css ::::: */

#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 { margin: auto; text-align: left; width: 57.69em; }
#doc2 { width: 73.076em; }
#doc3 { margin: auto 10px; width: auto; }
#doc4 { width: 74.923em; }
.yui-b { position: relative; }
.yui-b {  }
#yui-main .yui-b { position: static; }
#yui-main, .yui-g .yui-u .yui-g { width: 100%; }
.yui-t1 #yui-main, .yui-t2 #yui-main, .yui-t3 #yui-main { float: right; margin-left: -25em; }
.yui-t4 #yui-main, .yui-t5 #yui-main, .yui-t6 #yui-main { float: left; margin-right: -25em; }
.yui-t1 .yui-b { float: left; width: 12.3077em; }
.yui-t1 #yui-main .yui-b { margin-left: 13.3077em; }
.yui-t2 .yui-b { float: left; width: 13.8461em; }
.yui-t2 #yui-main .yui-b { margin-left: 14.8461em; }
.yui-t3 .yui-b { float: left; width: 23.0769em; }
.yui-t3 #yui-main .yui-b { margin-left: 24.0769em; }
.yui-t4 .yui-b { float: right; width: 13.8456em; }
.yui-t4 #yui-main .yui-b { margin-right: 14.8456em; }
.yui-t5 .yui-b { float: right; width: 18.4615em; }
.yui-t5 #yui-main .yui-b { margin-right: 19.4615em; }
.yui-t6 .yui-b { float: right; width: 23.0769em; }
.yui-t6 #yui-main .yui-b { margin-right: 24.0769em; }
.yui-t7 #yui-main .yui-b { display: block; margin: 0px 0px 1em; }
#yui-main .yui-b { float: none; width: auto; }
.yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u { float: left; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u { float: right; }
.yui-g div.first, .yui-gb div.first, .yui-gc div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first, .yui-g .yui-gc div.first, .yui-g .yui-ge div.first, .yui-gc div.first div.first { float: left; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf { width: 49.1%; }
.yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u { width: 32%; margin-left: 1.99%; }
.yui-gb .yui-u {  }
.yui-gc div.first, .yui-gd .yui-u { width: 66%; }
.yui-gd div.first { width: 32%; }
.yui-ge div.first, .yui-gf .yui-u { width: 74.2%; }
.yui-ge .yui-u, .yui-gf div.first { width: 24%; }
.yui-g .yui-gb div.first, .yui-gb div.first, .yui-gc div.first, .yui-gd div.first { margin-left: 0px; }
.yui-g .yui-g .yui-u, .yui-gb .yui-g .yui-u, .yui-gc .yui-g .yui-u, .yui-gd .yui-g .yui-u, .yui-ge .yui-g .yui-u, .yui-gf .yui-g .yui-u { width: 49%; }
.yui-g .yui-g .yui-u { width: 48.1%; }
.yui-g .yui-gb div.first, .yui-gb .yui-gb div.first {  }
.yui-g .yui-gc div.first, .yui-gd .yui-g { width: 66%; }
.yui-gb .yui-g div.first {  }
.yui-gb .yui-gc div.first, .yui-gb .yui-gd div.first {  }
.yui-gb .yui-gb .yui-u, .yui-gb .yui-gc .yui-u {  }
.yui-g .yui-gb .yui-u {  }
.yui-gb .yui-gd .yui-u {  }
.yui-gb .yui-gd div.first {  }
.yui-g .yui-gc .yui-u, .yui-gb .yui-gc .yui-u { width: 32%; margin-right: 0px; }
.yui-gb .yui-gc div.first { width: 66%; }
.yui-gb .yui-ge .yui-u, .yui-gb .yui-gf .yui-u { margin: 0px; }
.yui-gb .yui-gb .yui-u {  }
.yui-gb .yui-g div.first, .yui-gb .yui-gb div.first {  }
.yui-gc .yui-g .yui-u, .yui-gd .yui-g .yui-u {  }
.yui-gb .yui-gd div.first { width: 32%; }
.yui-g .yui-gd div.first {  }
.yui-ge .yui-g { width: 24%; }
.yui-gf .yui-g { width: 74.2%; }
.yui-gb .yui-ge div.yui-u, .yui-gb .yui-gf div.yui-u { float: right; }
.yui-gb .yui-ge div.first, .yui-gb .yui-gf div.first { float: left; }
.yui-gb .yui-ge .yui-u, .yui-gb .yui-gf div.first {  }
.yui-gb .yui-ge div.first, .yui-gb .yui-gf .yui-u {  }
.yui-ge div.first .yui-gd .yui-u { width: 65%; }
.yui-ge div.first .yui-gd div.first { width: 32%; }
#hd:after, #bd:after, #ft:after, .yui-g:after, .yui-gb:after, .yui-gc:after, .yui-gd:after, .yui-ge:after, .yui-gf:after { content: ""; display: block; clear: both; }
#hd, #bd, #ft, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {  }

/* ::::: http://arc.aiaa.org/templates/jsp/grids-min.css ::::: */

.yui3-g { letter-spacing: -0.31em; word-spacing: -0.43em; }
.yui3-u, .yui3-u-1, .yui3-u-1-2, .yui3-u-1-3, .yui3-u-2-3, .yui3-u-1-4, .yui3-u-3-4, .yui3-u-1-5, .yui3-u-2-5, .yui3-u-3-5, .yui3-u-4-5, .yui3-u-1-6, .yui3-u-5-6, .yui3-u-1-8, .yui3-u-3-8, .yui3-u-5-8, .yui3-u-7-8, .yui3-u-1-12, .yui3-u-5-12, .yui3-u-7-12, .yui3-u-11-12, .yui3-u-1-24, .yui3-u-5-24, .yui3-u-7-24, .yui3-u-11-24, .yui3-u-13-24, .yui3-u-17-24, .yui3-u-19-24, .yui3-u-23-24 { display: inline-block; letter-spacing: normal; word-spacing: normal; vertical-align: top; }
.yui3-u-1 { display: block; }
.yui3-u-1-2 { width: 50%; }
.yui3-u-1-3 { width: 33.3333%; }
.yui3-u-2-3 { width: 66.6667%; }
.yui3-u-1-4 { width: 25%; }
.yui3-u-3-4 { width: 75%; }
.yui3-u-1-5 { width: 20%; }
.yui3-u-2-5 { width: 40%; }
.yui3-u-3-5 { width: 60%; }
.yui3-u-4-5 { width: 80%; }
.yui3-u-1-6 { width: 16.656%; }
.yui3-u-5-6 { width: 83.33%; }
.yui3-u-1-8 { width: 12.5%; }
.yui3-u-3-8 { width: 37.5%; }
.yui3-u-5-8 { width: 62.5%; }
.yui3-u-7-8 { width: 87.5%; }
.yui3-u-1-12 { width: 8.3333%; }
.yui3-u-5-12 { width: 41.6666%; }
.yui3-u-7-12 { width: 58.3333%; }
.yui3-u-11-12 { width: 91.6666%; }
.yui3-u-1-24 { width: 4.1666%; }
.yui3-u-5-24 { width: 20.8333%; }
.yui3-u-7-24 { width: 29.1666%; }
.yui3-u-11-24 { width: 45.8333%; }
.yui3-u-13-24 { width: 54.1666%; }
.yui3-u-17-24 { width: 70.8333%; }
.yui3-u-19-24 { width: 79.1666%; }
.yui3-u-23-24 { width: 95.8333%; }

/* ::::: http://ajax.googleapis.com/ajax/libs/yui/2.9.0/build/tabview/assets/skins/sam/tabview.css ::::: */

.yui-navset .yui-nav li, .yui-navset .yui-navset-top .yui-nav li, .yui-navset .yui-navset-bottom .yui-nav li { margin: 0px 0.5em 0px 0px; }
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li { margin: 0px 0px 0.5em; }
.yui-navset .yui-content .yui-hidden { border: 0px none; height: 0px; width: 0px; padding: 0px; position: absolute; left: -999999px; overflow: hidden; visibility: hidden; }
.yui-navset .yui-navset-left .yui-nav, .yui-navset .yui-navset-right .yui-nav, .yui-navset-left .yui-nav, .yui-navset-right .yui-nav { width: 6em; }
.yui-navset-top .yui-nav, .yui-navset-bottom .yui-nav { width: auto; }
.yui-navset .yui-navset-left, .yui-navset-left { padding: 0px 0px 0px 6em; }
.yui-navset-right { padding: 0px 6em 0px 0px; }
.yui-navset-top, .yui-navset-bottom {  }
.yui-nav, .yui-nav li { margin: 0px; padding: 0px; list-style: none outside none; }
.yui-navset li em { font-style: normal; }
.yui-navset { position: relative; }
.yui-navset .yui-content, .yui-navset .yui-content div {  }
.yui-navset .yui-content:after { content: ""; display: block; clear: both; }
.yui-navset .yui-nav li, .yui-navset .yui-navset-top .yui-nav li, .yui-navset .yui-navset-bottom .yui-nav li { display: -moz-inline-stack; vertical-align: bottom; cursor: pointer; }
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li { display: block; }
.yui-navset .yui-nav a { position: relative; }
.yui-navset .yui-nav li a, .yui-navset-top .yui-nav li a, .yui-navset-bottom .yui-nav li a { display: inline-block; vertical-align: bottom; }
.yui-navset-left .yui-nav li a, .yui-navset-right .yui-nav li a { display: block; }
.yui-navset-bottom .yui-nav li a { vertical-align: text-top; }
.yui-navset .yui-nav li a em, .yui-navset-top .yui-nav li a em, .yui-navset-bottom .yui-nav li a em { display: block; }
.yui-navset .yui-navset-left .yui-nav, .yui-navset .yui-navset-right .yui-nav, .yui-navset-left .yui-nav, .yui-navset-right .yui-nav { position: absolute; z-index: 1; }
.yui-navset-top .yui-nav, .yui-navset-bottom .yui-nav { position: static; }
.yui-navset .yui-navset-left .yui-nav, .yui-navset-left .yui-nav { left: 0px; right: auto; }
.yui-navset .yui-navset-right .yui-nav, .yui-navset-right .yui-nav { right: 0px; left: auto; }
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav { border-style: solid; border-color: rgb(38, 71, 160); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 0px 5px; }
.yui-skin-sam .yui-navset .yui-nav li, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav li { margin: 0px 0.16em 0px 0px; padding: 1px 0px 0px; }
.yui-skin-sam .yui-navset .yui-nav .selected, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected { margin: 0px 0.16em -1px 0px; }
.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a { background: url('sprite.png') repeat-x scroll 0% 0% rgb(216, 216, 216); border-style: solid; border-color: rgb(163, 163, 163); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; color: rgb(0, 0, 0); position: relative; text-decoration: none; }
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em { border-style: solid; border-color: rgb(163, 163, 163); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; padding: 0.25em 0.75em; left: 0px; right: 0px; bottom: 0px; top: -1px; position: relative; }
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover { background: url('sprite.png') repeat-x scroll left -1400px rgb(38, 71, 160); color: rgb(255, 255, 255); }
.yui-skin-sam .yui-navset .yui-nav a:hover, .yui-skin-sam .yui-navset .yui-nav a:focus { background: url('sprite.png') repeat-x scroll left -1300px rgb(191, 218, 255); outline: 0px none; }
.yui-skin-sam .yui-navset .yui-nav .selected a em { padding: 0.35em 0.75em; }
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em { border-color: rgb(36, 51, 86); }
.yui-skin-sam .yui-navset .yui-content { background: none repeat scroll 0% 0% rgb(237, 245, 255); }
.yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content { border-width: 1px; border-style: solid; border-right: 1px solid rgb(128, 128, 128); border-color: rgb(36, 51, 86) rgb(128, 128, 128) rgb(128, 128, 128); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0.25em 0.5em; }
.yui-skin-sam .yui-navset-left .yui-nav, .yui-skin-sam .yui-navset .yui-navset-left .yui-nav, .yui-skin-sam .yui-navset .yui-navset-right .yui-nav, .yui-skin-sam .yui-navset-right .yui-nav { border-width: 0px 5px 0px 0px; top: 0px; bottom: 0px; }
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav, .yui-skin-sam .yui-navset-right .yui-nav { border-width: 0px 0px 0px 5px; }
.yui-skin-sam .yui-navset-left .yui-nav li, .yui-skin-sam .yui-navset .yui-navset-left .yui-nav li, .yui-skin-sam .yui-navset-right .yui-nav li { margin: 0px 0px 0.16em; padding: 0px 0px 0px 1px; }
.yui-skin-sam .yui-navset-right .yui-nav li { padding: 0px 1px 0px 0px; }
.yui-skin-sam .yui-navset-left .yui-nav .selected, .yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected { margin: 0px -1px 0.16em 0px; }
.yui-skin-sam .yui-navset-right .yui-nav .selected { margin: 0px 0px 0.16em -1px; }
.yui-skin-sam .yui-navset-left .yui-nav a, .yui-skin-sam .yui-navset-right .yui-nav a { border-width: 1px 0px; }
.yui-skin-sam .yui-navset-left .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em, .yui-skin-sam .yui-navset-right .yui-nav a em { border-width: 0px 0px 0px 1px; padding: 0.2em 0.75em; top: auto; left: -1px; }
.yui-skin-sam .yui-navset-right .yui-nav a em { border-width: 0px 1px 0px 0px; left: auto; right: -1px; }
.yui-skin-sam .yui-navset-left .yui-nav a, .yui-skin-sam .yui-navset-left .yui-nav .selected a, .yui-skin-sam .yui-navset-left .yui-nav a:hover, .yui-skin-sam .yui-navset-right .yui-nav a, .yui-skin-sam .yui-navset-right .yui-nav .selected a, .yui-skin-sam .yui-navset-right .yui-nav a:hover, .yui-skin-sam .yui-navset-bottom .yui-nav a, .yui-skin-sam .yui-navset-bottom .yui-nav .selected a, .yui-skin-sam .yui-navset-bottom .yui-nav a:hover { background-image: none; }
.yui-skin-sam .yui-navset-left .yui-content { border-width: 1px; border-style: solid; border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(128, 128, 128) rgb(36, 51, 86); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.yui-skin-sam .yui-navset-bottom .yui-nav, .yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav { border-width: 5px 0px 0px; }
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected, .yui-skin-sam .yui-navset-bottom .yui-nav .selected { margin: -1px 0.16em 0px 0px; }
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li, .yui-skin-sam .yui-navset-bottom .yui-nav li { padding: 0px 0px 1px; vertical-align: top; }
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em, .yui-skin-sam .yui-navset-bottom .yui-nav a em { border-width: 0px 0px 1px; top: auto; bottom: -1px; }
.yui-skin-sam .yui-navset-bottom .yui-content, .yui-skin-sam .yui-navset .yui-navset-bottom .yui-content { border-width: 1px; border-style: solid; border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(36, 51, 86); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }

/* ::::: http://arc.aiaa.org/cssJawr/gzip_1658652184/bundles/core.css ::::: */

.xslDebugTemplate { color: rgb(153, 153, 153); font-size: 10px; font-family: sans-serif; padding-left: 2px; }
.xslDebugNodePath { color: rgb(255, 0, 0); font-size: 10px; font-family: sans-serif; padding-left: 2px; }
.xslDebugImport { color: rgb(0, 127, 0); font-size: 10px; font-family: sans-serif; padding-left: 2px; }
.wbr { font-family: "Lucida Sans Unicode","Arial Unicode MS",sans-serif; font-size: 2pt; color: rgb(255, 255, 255); white-space: normal; letter-spacing: 0px; word-spacing: 0px; word-wrap: break-word; }
.noWrap, .nobrWithWbr { white-space: nowrap; }
.ff2 .nobrWithWbr { white-space: normal; }
.tocHeading .subj-group { display: block; font-size: 90%; }
div.boxed-text-, div.boxed-text-anchor, div.boxed-text-float { margin-left: 3em; }
div.boxed-text-margin {  }
.refnumber { text-align: left; vertical-align: top; }
.references .note p { padding: 0em; margin: 0em; }
.articleEntry { margin-bottom: 1em; }
.NLM_table-wrap td, .NLM_table-wrap td, .NLM_table-wrap th, .NLM_table-wrap th { border-right: 1px solid black; border-bottom: 1px solid black; }
.NLM_table-wrap-foot p { margin: 0px; }
.NLM_table-wrap table { border: 1px solid black; border-spacing: 0px; border-collapse: collapse; width: 95%; }
.NLM_table-wrap table.frame_none { border: medium none; }
.NLM_table-wrap table.frame_left { border-width: medium medium medium 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color black; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.NLM_table-wrap table.frame_right { border-width: medium 1px medium medium; border-style: none solid none none; border-color: -moz-use-text-color black -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.NLM_table-wrap table.frame_top { border-right: medium none; border-width: 1px medium medium; border-style: solid none none; border-color: black -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.NLM_table-wrap table.frame_bottom { border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color black; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.NLM_table-wrap table.frame_sides { border-width: medium 1px; border-style: none solid; border-color: -moz-use-text-color black; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.NLM_table-wrap table.frame_topbot { border-right: medium none; border-left: medium none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px medium; border-style: solid none; border-color: black -moz-use-text-color; }
table.rowsep0 td, table.rowsep0 th { border-bottom: medium none; }
table.rowsep1 td, table.rowsep1 th { border-bottom: 1px solid black; }
table.rowsep2 td, table.rowsep2 th { border-bottom: 3px double black; }
col.rowsep0, tr.rowsep0 td, tr.rowsep0 th { border-bottom: medium none; }
col.rowsep1, tr.rowsep1 td, tr.rowsep1 th { border-bottom: 1px solid black; }
col.rowsep2, tr.rowsep2 td, tr.rowsep2 th { border-bottom: 3px double black; }
tr th.rowsep0, tr td.rowsep0 { border-bottom: medium none; }
tr th.rowsep1, tr td.rowsep1 { border-bottom: 1px solid black; }
tr th.rowsep2, tr td.rowsep2 { border-bottom: 3px double black; }
table.colsep0 td, table.colsep0 th { border-right: medium none; }
table.colsep1 td, table.colsep1 th { border-right: 1px solid black; }
table.colsep2 td, table.colsep2 th { border-right: 3px double black; }
col.colsep0, tr.colsep0 td, tr.colsep0 th { border-right: medium none; }
col.colsep1, tr.colsep1 td, tr.colsep1 th { border-right: 1px solid black; }
col.colsep2, tr.colsep2 td, tr.colsep2 th { border-right: 3px double black; }
tr th.colsep0, tr td.colsep0 { border-right: medium none; }
tr th.colsep1, tr td.colsep1 { border-right: 1px solid black; }
tr th.colsep2, tr td.colsep2 { border-right: 3px double black; }
.NLM_table-wrap table tr.last td { border-bottom: medium none; }
.NLM_table-wrap table tr td.last, .NLM_table-wrap table tr th.last { border-right: medium none; }
.NLM_table-wrap .align_right { text-align: right; }
.NLM_table-wrap .align_left { text-align: left; }
.NLM_def-list { margin: 1em 0px; }
.NLM_def-list .NLM_title, .NLM_def-list .NLM_term-head, .NLM_def-list .NLM_def-head, .NLM_def-list .NLM_term { font-weight: bold; vertical-align: top; }
.NLM_def-list .NLM_def { vertical-align: top; }
.NLM_table-wrap table tr td table.listgroup, .NLM_table-wrap table tr td table.listgroup td { border: medium none; width: auto; text-align: left; }
.title1, .title2, .title3, .title4, .title5, .inlinehead1, .inlinehead2, .inlinehead3, .inlinehead4, .inlinehead5 { font-weight: bold; }
.searchNone0, .searchNone1, .searchNone2, .searchNone3, .searchNone4, .searchNone5, .searchNone6, .searchNone7, .searchNone8, .searchNone9 { color: inherit; background-color: inherit; font-weight: inherit; }
.searchTerm0, .searchTerm1, .searchTerm2, .searchTerm3, .searchTerm4, .searchTerm5, .searchTerm6, .searchTerm7, .searchTerm8, .searchTerm8 { font-weight: bold; }
.searchTerm0, .searchTerm1, .searchTerm2, .searchTerm3, .searchTerm4 { color: black; }
.searchTerm5, .searchTerm6, .searchTerm7, .searchTerm8, .searchTerm8 { color: white; }
.searchTerm0 { background-color: rgb(255, 255, 102); }
.searchTerm1 { background-color: rgb(160, 255, 255); }
.searchTerm2 { background-color: rgb(153, 255, 153); }
.searchTerm3 { background-color: rgb(255, 153, 153); }
.searchTerm4 { background-color: rgb(255, 102, 255); }
.searchTerm5 { background-color: rgb(136, 0, 0); }
.searchTerm6 { background-color: rgb(0, 170, 0); }
.searchTerm7 { background-color: rgb(136, 104, 0); }
.searchTerm8 { background-color: rgb(0, 70, 153); }
.searchTerm9 { background-color: rgb(153, 0, 153); }
.single_highlight_class { background-color: rgb(238, 238, 238); padding: 2px; }
.citation_source-book, .citation_source-journal { font-style: italic; }
.dash { font-size: 13px; }
.quote { margin: 1em 0em 1em 5em; display: block; }
.entityA, .entityB, .entityC, .entityD { border: 0px none; }
.entityB { vertical-align: baseline; }
.entityC { vertical-align: bottom; }
.entityD { vertical-align: text-bottom; }
.fromGoogle { border-style: solid; border-color: red; border-width: 2px 0pt; margin: 12px 0pt; padding: 2px 0pt; line-height: 20px; font-size: 12px; }
ol.simple { list-style: none outside none; }
ol.alphaLower { list-style: lower-alpha outside none; }
ol.alphaUpper { list-style: upper-alpha outside none; }
ol.romanLower { list-style: lower-roman outside none; }
ol.romanUpper { list-style: upper-roman outside none; }
.smallcaps { font-variant: small-caps; }
.strike { text-decoration: line-through; }
.NLM_disp-formula { display: block; }
a.roDisabled { color: graytext; }
.articleEntry .firstCell { text-align: right; vertical-align: top; width: 18px; padding-top: 0px; }
.sectionHeading { background-color: rgb(225, 225, 225); }
.sectionHeading th { font-size: larger; }
.artAuthors .NLM_bio { font-weight: normal; }
.multiIssueToc .issueTitle { font-weight: bold; }
.monospace { font-family: monospace; }
table.formula { margin: 1em 0px; clear: both; }
.NLM_list-list_type-simple { list-style: none outside none; display: block; }
.IN_LIST-freeText, .IN_LIST-label, .IN_LIST-title { list-style: none outside none; display: inline; margin: 0px; padding: 0px; }
.fullSideBullet { width: 15px; vertical-align: top; }
.accessIcon { border: medium none; }
.quickLinks_head, .quickSearch_head, .quickSearch_content, .quickLinks_content { border: 1px solid black; }
.quickSearch_content, .quickLinks_content { border-top: medium none; }
.fontSize1 { font-size: xx-small; }
.fontSize2 { font-size: small; }
.fontSize3 { font-size: medium; }
.fontSize4 { font-size: large; }
.fontSize5 { font-size: x-large; }
.fontSize6 { font-size: xx-large; }
.fontSize7 { font-size: xx-large; }
.panelHeading, .panelFooter { position: relative; padding: 3px 10px; }
.panelHeading .left, .panelHeading .right, .panelFooter .left, .panelFooter .right { position: absolute; width: 6px; height: 6px; background-repeat: no-repeat; }
.panelHeading .left, .panelHeading .right { top: 0px; }
.panelFooter .left, .panelFooter .right { bottom: 0px; }
.panelHeading .left, .panelFooter .left { left: 0px; }
.panelHeading .right, .panelFooter .right { right: 0px; }
.panelHeading .left { background-image: url('curve_left_top.png'); }
.panelHeading .right { background-image: url('curve_right_top.png'); }
.panelFooter .left { background-image: url('curve_left_top.png'); }
.panelFooter .right { background-image: url('curve_right_bottom.png'); }
.panelHeading .content h3 { margin: 0px; font-size: 1em; }
.panelBody { width: auto; padding: 0.5em; }
.panelBody .spacer { clear: both; height: 1px; width: 100%; }
#mobileDevicePairingCode .char { padding: 0.5em; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); margin-right: 0.5em; }
.reprAndPerms { margin: 10px; }
.reprAndPerms .coverImage { float: left; min-height: 115px; margin-right: 20px; }
.reprAndPerms .article_meta div { margin-bottom: 5px; }
.reprAndPerms .article_meta label { color: rgb(0, 102, 255); font-weight: bold; width: 20%; }
.reprAndPerms .topContent { margin-bottom: 20px; }
.reprintsForm label { float: left; width: 20%; }
.reprintsForm .labelGroup { margin: 10px 5px; height: 20px; }
.reprintsForm .labelGroup input { float: right; width: 20%; }
.reprintsForm .dropDownHeader { color: rgb(0, 102, 255); font-size: 10pt; font-weight: bold; margin-bottom: 5px; }
.reprintsForm .subText { margin-bottom: 10px; }
.reprintsForm label { font-weight: bold; }
.regForm .error {  }
.regForm .heading { font-weight: bold; }
.expired { color: red; font-weight: bold; }
.hold { color: red; }
.grace { color: orange; }
.downloadTSV { display: none; }
.debugInfo { background: url('page.png') no-repeat scroll 0px 0px transparent; padding: 1px; display: block; }
.debugInfo, .debugAttr { display: none; }
.debugPath:hover { color: red; }
.debugInfo { padding-left: 20px; z-index: 99999; }
.debugBox { border: 1px dotted red; }
.debugTable { background-color: white; border: 1px solid; font-size: 11px; }
.debugFCK, .debugFCV { background-color: rgb(238, 238, 238); }
.debugAttr { z-index: 9999; }
.debugNoF { border: 1px dotted rgb(74, 107, 130); }
.debugError { border: 1px solid red; padding: 1px; }
.debugPE { display: block; width: 100%; text-align: center; color: white; background-color: red; padding-bottom: 2px; }
.debugST { display: none; width: 100%; }
.shadow { box-shadow: 3px 3px 5px 6px rgb(204, 204, 204); }
#SaveSearchForm #saveSearchHeader { text-align: center; font-weight: bolder; font-size: 10pt; }
#rssExplanationBox { margin-top: 1em; }
.modifySearchSubmit { background: none repeat scroll 0% 0% transparent; border: medium none; cursor: pointer; padding: 0px; margin: 0px; font-size: 8pt; }
.saveSearchSubmit { width: 45px; border: medium none; cursor: pointer; }
#validatorDialog.show { display: block; background: none repeat scroll 0% 0% rgb(240, 240, 238); border: 1px solid rgb(204, 204, 204); width: 400px; height: 95px; margin-left: auto; margin-right: auto; text-align: center; }
#validatorDialog.hidden { display: none; }
.dialogContainer { width: 100%; float: left; position: fixed; top: 200px; z-index: 99999999; }
.addressLink { cursor: pointer; text-decoration: underline; color: rgb(0, 0, 255); }
.addThisPlaceHolderTableData { display: table-cell; vertical-align: middle; }
.addThisButtonTableData { display: table-cell; vertical-align: middle; }
.addThisButtonTableData div { display: table-cell; vertical-align: middle; }
.addThisTable { display: table; }
.addThisTableRow { display: table-row; }
.pda-license-table { width: 80%; margin-bottom: 30px; }
.pda-license-table td { text-align: center; }
.pda-license-table td:first-child { text-align: left; }
.pda-email-form .row { margin-top: 5px; }
.pda-email-form input, .pda-email-form label { vertical-align: middle; }
.pda-email-form .submit { margin-top: 10px; }
.pda-email-form .radio { margin-top: 0px; }
#deepdyve { display: none; }
ul.usageDataYearOptions div.usageReportsMonthRange { padding-left: 25px; }
ul.usageDataYearOptions div.usageReportsMonthRange label { display: inline-block; width: 35px; }
ul.usageDataYearOptions div.usageReportsMonthRange div.startRange { padding: 3px 0px 10px; }
ul.usageDataYearOptions div.usageReportYearOnly label { padding-right: 3px; }
ul.usageDataYearOptions li { list-style: none outside none; }
.labeledList { list-style: none outside none; }
.inline { display: inline; }
.NLM_list-list_type-alpha-lower { list-style-type: lower-alpha; }
.NLM_list-list_type-alpha-upper { list-style-type: upper-alpha; }
.NLM_list-list_type-roman-lower { list-style-type: lower-roman; }
.NLM_list-list_type-roman-upper { list-style-type: upper-alpha; }
.equationTd { width: 100%; }
.visuallyhidden { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
body, .bodyLayout { margin: 0px; padding: 0px; border: 0px none; border-spacing: 0px; }
.leftRegion, .centerRegion, .rightRegion { margin: 0px; padding: 0px; border: 0px none; }
.listgroup .lilabel, .listgroup p { padding: 0px; margin: 0px; }
.welcome_user_text { font-size: x-small; font-weight: bold; padding: 1em; border-bottom: 1px solid rgb(68, 68, 68); color: rgb(68, 68, 68); }
.smallMarginLeft { margin-left: 1em; }
.pointer { cursor: pointer; }
.pub_search_box { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: x-small; font-weight: bold; padding: 1em; margin-bottom: 1em; border-bottom: 1px solid rgb(68, 68, 68); color: rgb(68, 68, 68); }
.pub_search_link { font-size: 10pt; font-weight: bold; margin-bottom: 5px; margin-top: 5px; }
#searchSaved .field label { display: block; }
.menuXsubMenuDivider { text-align: center; }
#hide { display: none; }
.art_title, .arttitle, .searchResultTitle { font-weight: bold; }
.art_author { color: gray; }
.art_meta { color: gray; }
.error { color: red; }
.citedByEntry { margin-bottom: 0.5em; }
.citedBySection { margin-bottom: 2em; }
.bullet { vertical-align: top; }
.tocHeading .subj-group { display: block; font-size: 90%; }
a img { border-width: 0px; }
.currencySymbol { font-weight: bold; }
#showMailPage label { font-weight: bold; }
#showMailPage label.checkBox { font-weight: normal; }
div.p { margin: 1em 0px; }
#CreditCardDialog .required { color: rgb(255, 0, 0); }
#CreditCardDialog label { margin: 1em 0px; text-align: left; }
.formHeading { font-weight: bold; }
div.federation { margin-top: 15px; font-size: 1.1em; font-weight: bold; }
.logoImg { width: 165px; height: 108px; border: 0px none; }
table.offersOption { width: 100%; padding: 0px 2em; }
.offersOption td { padding-bottom: 1em; }
.offersOption li { list-style: none outside none; }
.offersOption tr.buttons { text-align: right; }
.deliveryFormat li { list-style: none outside none; display: inline; }
.ecommOffers { font-weight: bold; }
.addressLink { cursor: pointer; color: blue; }
.ecommRecommendArticles p { margin-left: 10px; }
.ecommConf ul { list-style: none outside none; }
.whatis-rss { font-size: smaller; white-space: nowrap; }
.AfterFilter, .BeforeFilter { display: inline; }
.agreement .buttons a { margin-left: 1.5em; }
.refineSearch td { background-color: rgb(199, 199, 199); }
li#discussionsLink { background-image: url('icon_track.gif'); }
div.commentQuestion { padding-top: 10px; }
#noHLines { border-bottom: medium none; }
.alertSection > div { margin-top: 6px; }
.alertSection input[type="checkbox"] { margin-left: 0px; }
body { text-align: center; font: 13px/1.231 arial,helvetica,clean,sans-serif; }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
#container { margin: 0px auto; text-align: left; width: 980px; }
.standardImgOffset { position: relative; top: 7px; }
.fill { width: 100%; font-family: arial,helvetica,clean,sans-serif; font-size: 11px; margin-bottom: 0px; margin-top: 0px; padding-bottom: 0px; padding-top: 0px; }
.smallMarginTop { margin-top: 1em; }
.tinyMarginLeft { margin-left: 0.2em; }
.tinyMarginTop { margin-top: 0.5em; }
.float-right { float: right; }
.float-left { float: left; }
.linkList { padding: 0.5em; }
.linkList:after { display: block; clear: both; visibility: hidden; content: "."; height: 2px; }
.linkList li { float: left; border-left: 1px solid rgb(204, 204, 204); padding: 0px 5px; }
.linkList li:first-child { border-left: medium none; padding-left: 0px; }
.centered.linkList { text-align: center; }
.centered.linkList li { display: inline; float: none; }
.vertical li { border: medium none; padding: 0px; float: none; }
.right.linkList { text-align: right; }
.right.linkList li { display: inline; float: none; vertical-align: middle; }
#bookSeriesListing ul li { list-style: none outside none; margin: 1em 0px; }
#bookSeriesListing ul { padding-left: 1em; }
.column { min-height: 10px; }
.quarter { width: 25%; }
.half { width: 50%; }
.left, .column { float: left; }
.stackedReverse { float: right; }
.stacked { float: left; }
.stackContents:after { display: block; clear: both; visibility: hidden; content: "."; height: 2px; }
.inner { padding: 3px; }
.box .header { padding: 3px; }
.box .box-inner { padding: 3px; }
#booksByVolume ul { list-style: none outside none; }
.widget { font-size: 12px; text-align: left; }
#layout_two_sidebars #page-builder-left-sidebar, #layout_two_sidebars #page-builder-right-sidebar { width: 22%; margin: 0px; padding: 0px; float: left; }
#layout_two_sidebars #page-builder-middle { width: 56%; margin: 0px; padding: 0px; float: left; }
#layout_two_sidebars #page-builder-left-sidebar .inner, #layout_two_sidebars #page-builder-right-sidebar .inner, #layout_two_sidebars #page-builder-middle .inner { padding: 5px; margin: 0px; }
#layout_left_sidebar #page-builder-left-sidebar { width: 213px; margin: 0px; padding: 0px; float: left; }
#layout_left_sidebar #page-builder-middle { width: 750px; margin: 0px; padding: 0px; float: left; }
#layout_left_sidebar #page-builder-left-sidebar .inner, #layout_left_sidebar #page-builder-right-sidebar .inner, #layout_left_sidebar #page-builder-middle .inner { padding: 5px; margin: 0px; }
#layout_right_sidebar #page-builder-right-sidebar { width: 30%; margin: 0px; padding: 0px; float: left; }
#layout_right_sidebar #page-builder-middle { width: 70%; margin: 0px; padding: 0px; float: left; }
#layout_right_sidebar #page-builder-left-sidebar .inner, #layout_right_sidebar #page-builder-right-sidebar .inner, #layout_right_sidebar #page-builder-middle .inner { padding: 5px; margin: 0px; }
.box { width: 100%; padding: 0px; margin: 0px 0px 10px; position: relative; }
.box .box-inner { border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 5px; margin: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.box .header { background-color: green; color: white; padding: 0px; margin: 0px; display: block; width: 100%; }
.box .footer { display: block; height: 5px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(204, 204, 204); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.box .header > * { margin: 0px; padding: 3px 5px; color: white; font-family: Verdana,Arial,Helvetica,sans-serif; }
.box .body { padding: 4px; }
.type-search-form ul.linkSet { padding: 0px; margin: 0px; }
.collapsed, .expanded { background-repeat: no-repeat; background-position: 0px 0.3em; }
.collapsed { background-image: url('collapsed.gif'); }
.selected { font-weight: bold; }
.expanded { background-image: url('expanded.gif'); }
.loiListHeading { padding-left: 12px; }
.loiTocUrl, .loiIssuePages { display: inline; }
.loiIssuePages { margin-left: 5px; }
h1 { font-size: 28px; font-weight: bold; }
#categoryId, #searchHistory select { width: 100%; }
div.divider { border-bottom: 1px solid rgb(160, 173, 164); margin: 0px auto 15px; }
.sightedHidden { display: none; }
#frmSearch li, div.formHeading { padding-bottom: 1em; }
.breadcrumbs { padding-left: 1em; padding-bottom: 0px; }
.BeforeFilter, .AfterFilter { display: block; margin-bottom: 10px; }
input#searchSavedQuery { margin-bottom: 1em; }
#searchSavedConfirm { padding: 1em 0px; }
#searchSaveAction { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid rgb(160, 173, 164); }
#searchAlert { margin-right: 4em; }
.breadcrumbs li:after, .breadcrumbsAfter { position: relative; left: 4px; }
.breadcrumbs li:last-child:after { content: ""; }
.volYear { float: right; padding-right: 0.5em; }
.volNum { display: inline; float: left; }
.volInfo { background-color: rgb(239, 239, 239); margin: 2px 0px; padding: 2px 0px 3px 4px; border-bottom: 1px solid rgb(204, 204, 204); overflow: hidden; }
.volumeIssues li { margin: 0px; padding: 2px; border-bottom: 1px solid rgb(204, 204, 204); }
.volumeIssues li a { color: black; }
.volumeIssues li:hover, .volInfo:hover { background: none repeat scroll 0% 0% rgb(233, 233, 233); cursor: pointer; }
.volumeIssues li.selectedIssue { background: none repeat scroll 0% 0% rgb(233, 233, 233); cursor: pointer; }
#selectyearrange { padding: 3px; background-color: rgb(241, 241, 241); border-bottom: 1px solid rgb(204, 204, 204); margin: 3px 0px; }
#volumelisting .header, #sectionListing .header { background-image: url('uparrow.gif'); background-repeat: no-repeat; background-position: right center; }
#searchCriteria .expanded { background-image: url('uparrowb.png'); }
#searchCriteria .collapsed { background-image: url('downarrowb.png'); }
#volumelisting .closed, #sectionListing .closed { background-image: url('downarrow.gif'); }
.group li { margin-left: 7px; margin-bottom: 8px; }
.vpad { padding-top: 5px; padding-bottom: 5px; }
li.hidden { display: none; }
.head-left { float: left; }
.head-right { float: right; }
.head-middle { text-align: center; overflow: hidden; }
.box .header.thin h3 { padding: 3px; }
#recentCatContent li { clear: both; list-style: none outside none; }
#recentCatContent .contInfo { padding-bottom: 1em; }
#recentCatContent .defaultCover { display: none; }
#recentCatContent .cover, #recentCatContent .contInfo { float: left; }
#recentCatContent .cover { margin: 0px 1em 1em 0px; }
.linkList.blockLinks { padding: 0px; margin: 0px; vertical-align: middle; }
.linkList.blockLinks li { height: 100%; }
.linkList.blockLinks li a {  }
.linkList.separators li { border-right: 1px solid black; }
.linkList.separators li:last-child { border-right: medium none; }
.breadcrumbs li { list-style: none outside none; }
.relatedPublications li { list-style: none outside none; padding: 1px 4px; }
#articleToolsFormats { text-align: center; margin-bottom: 10px; list-style: none outside none; }
.searchBar { font-size: 11px; background-attachment: scroll; background-clip: border-box; background-image: none; background-origin: padding-box; }
.volume .volumeIssues { margin: 0px; padding: 0px; list-style: none outside none; }
#volumelisting .box, #sectionListing .box, #sectionListing .box-inner { margin: 0px; padding: 0px; }
#sectionListing .footer, #volumelisting .footer { height: 0px; }
#volumelisting, #sectionListing { border-width: 1px; border-style: solid; border-color: rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; padding: 3px; margin-bottom: 6px; border-image: initial; }
#showAllSections { background-color: rgb(239, 239, 239); padding: 8px; margin-bottom: 4px; border-bottom: 2px solid rgb(158, 158, 158); text-align: right; display: none; }
#sectionsList { display: none; }
#publicationCover img { margin-left: auto; margin-right: auto; display: block; }
.hidden { display: none; }
.page-builder-editing .authorSearchBox { display: block; position: relative ! important; margin: 0px; z-index: auto; }
.authorSearchBox { position: absolute ! important; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% white; z-index: 9999; width: 450px; padding: 10px; border-width: 2px 4px 4px 2px; margin-top: 15px; margin-left: -50px; display: none; }
.authorSearchBox .searchLinks a { color: rgb(41, 107, 170); text-decoration: none; font-weight: bold; cursor: pointer; padding-right: 20px; }
.authorSearchBox .searchLinks .firstLine, .authorSearchBox .searchLinks .secLine { padding-bottom: 10px; }
.authorSearchBox .closeBtn { position: absolute; top: -11px; right: -13px; }
.authorSearchBox .title { border-bottom: 2px solid rgb(204, 204, 204); margin-bottom: 10px; padding-bottom: 10px; color: rgb(79, 79, 79); font-size: 11px; }
.authorSearchBox .searchLinks img { height: 15px; }
.journalList .journalItems .aimScope, .journalList .journalItems .journalHistory { display: none; }
.journalList .journalItem { margin-bottom: 25px; }
.journalList .journalItems { margin-top: 5px; }
.catTitle { font-size: 18px; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 10px; }
.journalList .journalTitle { font-size: 16px; }
.journalList .itemAction { font-size: 13px; padding: 8px; }
.mceContentBody .yui-navset .yui-hidden { display: block; position: static; visibility: visible; left: 0px; width: auto; height: auto; }
.mobileDevicePairing { padding: 1em; margin-bottom: 1em; float: left; }
#mobileDevicePairing_login form { display: block; width: 47%; float: left; margin-top: 2em; }
#mobileDevicePairing_login label { font-weight: bold; float: left; width: 8em; }
#mobileDevicePairing_login .field { margin: 0.25em 0px; clear: left; }
#mobileDevicePairing_login span.hint { font-size: 0.7em; font-weight: bold; }
#mobileDevicePairing_login h2 { margin: 0px 0px 0.4em; }
.viewMobileHeaderAd { height: 1em; }
.viewMobileHeaderAd a { top: 1px; position: absolute; background: none repeat scroll 0% 0% rgb(0, 163, 228); padding: 0.4em 2em; color: white; font-weight: bold; left: 45%; }
.address-div { margin-left: 14px; margin-bottom: 14px; }
.mostRecentAop { padding: 5px; }
.mostRecentAop ul { margin-left: 1.2em; }
.moreLink { position: relative; display: block; text-align: right; }
.paginationLinks a:hover { cursor: pointer; }
.widget .recommendedArticles { max-height: 500px; overflow-y: scroll; }
.widget .noRecommendedArticles { height: 100%; }
.layout-four-column div.maincolumn { width: 570px; }
.layout-left-sidebar div.maincolumn div.inner { padding: 7px 12px 7px 10px; }
html, body { min-height: 100%; font: 100% "Lucida Grande","Lucida Sans",Arial,Helvetica,sans-serif; }
body { background-color: rgb(37, 79, 98); background-image: url('background.png'); background-repeat: repeat-x; }
body#AlertEmail { background: none repeat scroll 0% 0% transparent; }
ul { list-style: none outside none; margin: 0px; padding: 0px; }
li { margin: 0px 0px 5px; padding: 0px; }
#dropzone-Left-Sidebar ol, #dropzone-Right-Sidebar ol { padding-left: 30px; }
.buttonWidth { width: 30px; text-align: right; }
.breadcrumbs li { display: inline; float: none; }
.eccomArtReq { width: auto; margin: 15px; }
.eccomArtReq td { font-size: 13px; padding: 7px; }
div.sectionTitle { margin-top: 30px; font-size: 200%; color: rgb(136, 0, 0); }
.eccomArtReq td.sectionTitle, .eccomArtReq .header { font-size: 13px; }
.eccomArtReq .art_journal { font-weight: normal; font-style: italic; }
.eccomArtReq .art_authors { font-style: normal; }
.offers td.right { width: 1.5em; }
.offers radio { width: 65px; }
#bg { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); opacity: 0.85; z-index: 100; display: none; }
#extPPV-wrap { position: fixed; left: 0px; top: 0px; width: 100%; z-index: 200; display: none; }
#extPPV { width: 400px; margin: 250px auto 0px; padding: 10px; border: 2px solid rgb(136, 136, 136); border-radius: 4px; background: none repeat scroll 0% 0% rgb(238, 238, 238); text-align: left; font-size: 14px; }
#extPPV .loading { text-align: center; }
#extPPV .loading p { margin-bottom: 15px; }
.buttonRow { margin: 10px 0px; }
.button { display: inline-block; margin: 0px 7px 0px 0px; padding: 3px 5px; border: 1px solid rgb(51, 102, 153); border-radius: 4px; background: none repeat scroll 0% 0% rgb(51, 102, 153); opacity: 0.8; color: rgb(255, 255, 255); text-decoration: none; }
.button:hover { opacity: 1; }
.success { display: none; }
#container { margin-top: 10px; background: none repeat scroll 0% 0% transparent; position: relative; }
#content { background: none repeat scroll 0% 0% white; width: 959px; min-height: 430px; margin-left: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.box { border: 1px solid rgb(205, 229, 241); padding: 2px 0px 2px 2px; border-radius: 6px; background: -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(230, 240, 249) 100%) repeat scroll 0% 0% transparent; }
.box .header { background: none repeat scroll 0% 0% rgb(205, 229, 241); border-top-left-radius: 3px; border-top-right-radius: 3px; }
.box .header h3 { color: rgb(2, 140, 189); padding: 10px; text-transform: uppercase; font-family: "Bookman"; font-size: 125%; }
.box .box-inner { border: medium none; margin: 0px 5px 5px; padding: 5px; background: inherit; }
.spotlight { margin-top: 15px; }
.spotlight .box, .spotlight.box, .subjectsPanel .box { border: 1px solid rgb(253, 212, 84); background: -moz-linear-gradient(center top , rgb(255, 248, 230) 0%, rgb(255, 241, 202) 100%) repeat scroll 0% 0% transparent; }
.spotlight .box .header h3, .spotlight.box .header h3, .subjectsPanel .box .header h3 { color: rgb(216, 121, 11); background-color: rgb(254, 231, 164); }
.spotlight .box .header, .spotlight.box .header { background: none repeat scroll 0% 0% rgb(254, 231, 164); border-top-left-radius: 3px; border-top-right-radius: 3px; }
div.panelBottomLeft, div.panelBottomMiddle, div.panelBottomRight, div.panelTopLeft, div.panelTopMiddle, div.panelTopRight { background: none repeat scroll 0% 0% transparent; }
.box .footer { display: none; }
.linkList > li { border: medium none; }
#header { position: relative; }
.welcome { padding-top: 3px; font-size: 70%; padding-bottom: 10px; height: 17px; }
.welcome a { color: black; text-decoration: none; }
.banner { clear: both; margin: 7px 0px 20px 10px; }
#header .linkList { padding: 0px; }
.dropDownNav { background: none repeat scroll 0% 0% black; z-index: 2; position: relative; width: 100%; display: table; font-size: 80%; font-weight: bold; box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.5); }
.dropDownNav li { position: relative; display: table-cell; float: none; height: 64px; width: 160px; vertical-align: middle; border-width: medium 3px medium medium; border-style: none solid none none; border-color: -moz-use-text-color white -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; margin: 0px; }
.dropDownNav li:last-child { border-right: 0px none; width: 165px; }
.dropDownNav li a { height: 44px; padding: 20px 0px 0px 20px; display: block; color: white; text-decoration: none; background: none repeat scroll 0% 0% black; vertical-align: middle; }
.dropDownNav li a:hover { background: none repeat scroll 0% 0% rgb(37, 79, 98); }
.dropDownNav .submenu { display: none; }
.dropDownNav li:hover a { background: none repeat scroll 0% 0% rgb(37, 79, 98); }
.dropDownNav li:hover .submenu { display: block; }
.dropDownNav .submenu li { width: auto; min-width: 400px; height: auto; border: 0px none; }
.dropDownNav .submenu a { width: auto; height: auto; padding: 7px; background: none repeat scroll 0% 0% rgb(37, 79, 98); border-top: 1px dotted white; }
.dropDownNav .submenu a:hover { background: none repeat scroll 0% 0% rgb(181, 203, 215); }
.searchBar { position: absolute; bottom: 62px; right: 0px; width: 391px; margin: 0px; padding: 2px 0px; background-image: url('rc.png'); background-repeat: no-repeat; background-position: left center; font-size: 12px; }
#quickSearchTabs { width: 373px; }
.quickSearchForm { font-weight: bold; margin: -2px 0px 2px; padding: 2px 10px; text-align: right; }
.quicksearch { padding: 7px 12px 4px 5px; font-size: 11px; }
.quicksearch * { line-height: 1.6em; vertical-align: middle; }
#quickSearchTabs div.yui-content { padding-top: 0px; }
#quickSearchTabs .yui3-u-1-3 { width: auto; }
#searchQuery { width: 40%; margin-left: 4px; padding: 0px; }
.quicksearch .yui3-u-1-6 { margin-left: 4px; }
#advSearchLink { padding-left: 7px; font-size: 11px; font-weight: normal; line-height: 0.5em; vertical-align: middle; }
#smallIssueCover { text-align: center; padding: 0px 0px 10px; }
#smallIssueCover img, #publicationCover img { max-width: 130px; }
.yui-nav { padding: 0px 20px; }
.yui-content { padding: 2px 10px; }
.yui-nav li { padding: 2px 5px; }
.yui-nav a { font-weight: bold; color: rgb(1, 38, 80); text-decoration: underline; }
.yui-nav .selected a { text-decoration: none; }
.yui-nav .selected { border-radius: 3px 3px 0px 0px; }
.dropDownNav:after { display: none; }
.triangles { position: relative; height: 0px; z-index: 1; }
.ltriangle, .rtriangle { background: none repeat scroll 0% 0% transparent; border-width: 10px; border-style: solid; width: 0px; height: 0px; position: absolute; top: -10px; }
.ltriangle { border-color: transparent black transparent transparent; left: -10px; }
.rtriangle { border-color: transparent transparent transparent black; right: -9px; }
.navigation.secondary { width: 90%; margin: auto; border: 1px solid rgb(204, 212, 202); border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; display: table; }
.navigation.secondary li { display: table-cell; float: none; }
.navigation.secondary li a { color: black; text-decoration: none; display: block; padding: 5px 40px 4px; text-align: center; background: none repeat scroll 0% 0% rgb(255, 242, 203); border-right: 3px solid white; }
.navigation.secondary li a:hover { background-color: rgb(204, 212, 202); }
.navigation.secondary li:first-child a { border-bottom-left-radius: 6px; }
.navigation.secondary li:last-child a { border-bottom-right-radius: 6px; border-right: medium none; }
.type-toc .level1 { margin: 30px 0px 7px; padding: 7px; font-weight: bold; font-size: 1.4em; text-transform: capitalize; background: none repeat scroll 0% 0% rgb(44, 101, 110); color: rgb(255, 255, 255); border-radius: 4px; list-style: none outside none; }
.type-toc .level2 { font-weight: bold; font-size: 1.2em; list-style: none outside none; }
.type-toc .level3 { font-weight: bold; font-size: 1.1em; color: rgb(85, 85, 85); list-style: none outside none; }
.articleEntry { border: 1px solid rgb(243, 243, 243); background-image: -moz-linear-gradient(center bottom , rgb(243, 243, 243) 9%, rgb(255, 255, 255) 55%); }
.articleEntry td { padding: 10px 5px; }
.articleEntry .art_meta { margin-bottom: 10px; }
.articleEntry .ref:after {  }
a { color: rgb(44, 101, 110); }
.inner { padding: 7px; }
.menu LI { float: left; }
li.lastChild { border: medium none; }
#header .inner { padding: 3px; }
#header .noPaddingBottom, .noPaddingBottom, #header .innerSearchField { padding-bottom: 0px; }
div.paddedgrid.lowerSearchBox {  }
.linkList.separators li { border-right: 3px solid white; }
.linkWidget.box { padding-bottom: 0px; }
.linkWidget.box .body { padding: 0px; }
.linkWidget.box .linkList { padding: 5px 0px; }
.linkWidget.box .linkList li { position: relative; top: 1px; padding: 5px 10px; }
.linkWidget .header { border-bottom: 2px solid rgb(253, 212, 84); }
h1 { color: rgb(44, 101, 110); }
.stackedReverse { float: none; }
.institutionBanner { float: left; width: auto; padding: 6px 0px; }
.loginIdentity { float: right; font-size: 12px; }
.loginIdentity li { float: left; height: 27px; line-height: 27px; margin-left: 2em; list-style: disc outside none; }
.loginIdentity li:first-child { margin-left: 10px; list-style: none outside none; }
.loginIdentity #cartItem { padding-right: 30px; background: url('cart.jpg') no-repeat scroll right top transparent; }
div.articleToolDiv { margin-bottom: 20px; }
div.sortingDiv { float: right; width: 20%; margin: 0px 10px 0px 0px; padding: 0px; text-align: right; }
div.paginationDiv { float: left; width: 58%; margin: 0px; padding: 0px; }
div.numberofResultsDiv { float: left; width: 20%; margin: 0px; padding: 0px; }
.paginationStatus span, .searchResultOrder label { display: block; }
ul.paginationLinks { padding-top: 0px; margin-top: 0px; }
div.navigationContainer { width: 700px; }
#frmSearchResults { clear: left; padding-top: 15px; }
label.contentTypeRadio { padding-right: 7px; }
.type-publication-results .inlineRadio { padding: 5px 0px 0px; }
div.filterBySection, div.titleSection { margin: 10px; }
div.publicationSection { margin: 25px 10px 10px; }
li.subjectList.expanded { background-image: none; }
div.pubSubjectTitleListing { margin-top: 15px; margin-bottom: 15px; }
.subjectsPanel .linkList { padding: 0px; }
.subjectsPanel .linkList li { margin: 7px 0px 0px; }
.subjectList { margin-top: 7px; }
div.subjectList ul.subjectListing { list-style: disc outside none; margin-left: 25px; }
div.subjectList ul.subjectListing ul.subjectListing { list-style: circle outside none; }
.subjectList div.selected { padding: 5px; background: none repeat scroll 0% 0% rgb(51, 102, 153); font-weight: normal; border-radius: 4px; }
.subjectList div.selected a { color: rgb(255, 255, 255); text-decoration: none; }
.type-publication-results h4 { font-size: 15px; color: rgb(85, 85, 85); }
.type-publication-results em { font-weight: bold; font-style: normal; }
.titleListing li.stackContents { position: relative; }
.titleListing li.stackContents a { display: block; margin-bottom: 3px; }
.titleListing li.stackContents .stacked { vertical-align: top; max-width: 90%; }
.titleListing li.stackContents .stacked:first-child { margin: 2px 10px 0px 25px; }
.titleListing .stacked ul, .titleListing .stacked li a { display: inline; }
.titleListing .stacked li { margin-left: 40px; list-style: disc outside none; }
.accessIcon { vertical-align: middle; }
.titleListing li.stackContents .accessIcon { position: absolute; left: 0px; top: 0px; }
.type-publication-tools .head-middle a { color: inherit; text-decoration: none; }
#articleContent p { margin: 0px 0px 1.3em; font-size: 1.1em; line-height: 1.7em; }
#articleContent .artAuthors p, #articleContent .NLM_author-notes p { line-height: normal; }
#articleContent .artAuthors .NLM_string-name { font-size: 1.1em; }
.artAuthors { margin: 10px 0px 15px; }
#firstPage { margin-top: 15px; text-align: center; }
#firstPage img { width: 650px; padding: 7px; border: 1px solid rgb(204, 204, 204); }
.sectionHeadingContainer { margin: 40px 0px 10px; }
.sectionHeading { padding: 2px 7px; }
.NLM_def-list { margin: 20px; padding: 7px 7px 0px; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.NLM_def-list .NLM_title { padding: 0px 0px 1em; font-size: 1.3em; text-decoration: underline; }
.NLM_def-list td { padding-bottom: 7px; vertical-align: top; }
.NLM_def-list .NLM_def { padding-left: 15px; }
.NLM_def-list p { margin: 0px 0px 1em; }
.NLM_book-part-meta .subj-group { display: block; text-transform: capitalize; }
#advancedSearchB { margin-right: 10px; }
#searchTipDiv { padding-top: 5px; }
div.personalizeTabs ul.yui-nav { padding: 15px 10px 10px; background: none repeat scroll 0% 0% transparent; border-bottom: 2px solid rgb(51, 102, 153); }
div.personalizeTabs .yui-content { background-color: transparent; }
.personalizeTabs.yui-navset .yui-nav li a, .personalizeTabs.yui-navset-top .yui-nav li a, .personalizeTabs.yui-navset-bottom .yui-nav li a { font-size: 14px; text-decoration: none; }
div.personalizeTabs .yui-nav .selected { background: none repeat scroll 0% 0% rgb(51, 102, 153); border-radius: 4px; }
div.personalizeTabs .yui-nav .selected a { color: rgb(255, 255, 255); }
.personalizeTabs.yui-navset div.yui-content { margin-top: 15px; }
.profileContent { padding: 0px 10px 10px; font-size: 14px; }
.profileContent h3 { margin: 15px 0px 10px; }
.profileContent table { margin-top: 7px; }
.profileContent td { font-size: 1em ! important; }
.profileContent td.bullet { display: none; }
.alertSettingsLeadIn ul { list-style: disc outside none; margin: 15px 0px; padding-left: 50px; }
.alertSettingsLeadOut { margin: 15px 0px; }
.favArticles input { line-height: 1.5em; vertical-align: middle; }
.favArticles label { margin: 0px 10px 0px 3px; line-height: 1.5em; vertical-align: middle; }
.BeforeFilter, .AfterFilter { display: inline-block; margin-left: -3px; }
.AfterFilter { margin-right: 7px; }
#allIssuesPanel #issueHeading { visibility: hidden; }
.loiList { margin: 0px; padding: 0px; list-style: none outside none; }
.loiList > li { margin-bottom: 5px; }
.loiList li.expanded, .loiList .loiList .loiList li { margin-bottom: 0px; }
.loiList .loiList { margin: 0px 0px 10px 30px; }
.loiListHeading { font-weight: bold; }
.loiListHeading:hover { cursor: pointer; }
.relatedPublications ul { list-style: none outside none; margin: 2px 0px 15px; padding: 0px; }
.relatedPublications li { list-style: none outside none; margin: 0px; padding: 0px; }
.relatedPublications .scholar { margin-bottom: 15px; }
.relatedPublicationsSearch { display: block; margin-bottom: 5px; font-weight: bold; }
.product { margin: 0px 0px 15px; }
.product input { margin: 0px; }
body.standards .type-publication-navigator #nextprev, body.proceedings .type-publication-navigator #nextprev { display: none; }
#footer { padding: 20px 20px 20px 0px; }
#footer .logo-mark { float: left; background: url('sprites.png') no-repeat scroll 0px -45px transparent; height: 176px; width: 153px; text-indent: -9999px; }
.site-info { float: left; width: 33%; margin: 0px 0px 0px 9px; color: white; font-size: 12px; line-height: 18px; }
#footer h2 { font-size: 17px; font-weight: normal; color: white; }
#footer .social-media { float: right; width: 350px; min-height: 30px; text-align: right; }
#footer .social-media ul { float: right; margin-left: 3px; }
#footer .social-media * { float: left; height: 31px; line-height: 31px; font-family: georgia,"times new roman",times,serif; text-transform: uppercase; vertical-align: middle; }
.footer-nav { float: right; min-width: 355px; margin-top: 10px; text-align: right; }
.footer-nav li { margin-left: 1px; padding-right: 1px; list-style: none outside none; float: none; display: inline; }
.footer-nav a { background: url('bullets.png') no-repeat scroll left -45px transparent; padding-left: 10px; color: white; font-size: 11px; text-decoration: none; text-transform: uppercase; }
.footer-nav li:first-child a { background: none repeat scroll 0% 0% transparent; }
.copyright { margin-top: 3%; }
#footer .footer-nav li br { display: none; }
.multiAbs, .citationFormats, .emailArticlePage, .Page404, .Page403 { padding: 15px; }
.centered { text-align: center; }
.submitManuscript { margin: 10px 0px; }
.indented { margin-left: 15px; }
.marginBottom { margin-bottom: 15px; }
.spotlight .articleFormats { border-top: 1px solid rgb(253, 212, 84); width: 100%; }
.spotlight .linkList li { position: relative; top: 1px; padding: 5px 10px; }
#searchArticleTools { clear: both; padding-top: 7px; }
.issueNavigator .box .header h3 { color: black; font-size: 12px; }
.issueNavigator #nextprev { position: relative; min-height: 2.5em; }
.issueNavigator #nextprev .links { position: absolute; left: 15%; top: 0px; width: 70%; line-height: 1.5em; text-align: center; }
.issueNavigator #nextprev .prev { position: absolute; top: 0px; left: 2px; transform: scale(0.9); }
.issueNavigator #nextprev .next { position: absolute; top: 0px; right: 2px; transform: scale(0.9); }
#articleToolList .showEnhancedAbstract { display: none; }
.NLM_abstract { margin: 15px 0px; }
.balloon-wrap { position: absolute; margin: -10px 0px 0px 2px; padding: 0px 0px 0px 18px; background: url('balloon-notch.gif') no-repeat scroll 0% 0% transparent; z-index: 8000; display: none; }
.balloon { float: left; width: 100%; max-width: 360px; padding: 0px 7px 7px; border-width: 2px 2px 2px 0px; border-style: solid solid solid none; border-color: rgb(144, 184, 223) rgb(144, 184, 223) rgb(144, 184, 223) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 228); line-height: normal; font-size: 12px; color: rgb(68, 68, 68); text-decoration: none; }
.balloon a.close { float: right; width: 15px; height: 15px; margin: 7px 0px 5px 7px; padding: 0px; background: url('select-x.gif') no-repeat scroll 0% 0% transparent; }
span.ref .balloon a { padding: 0px; }
span.ref .balloon a.close:hover { background: url('select-x.gif') no-repeat scroll 0% 0% transparent; }
.balloon span { display: block; margin: 10px 0px 0px; }
.balloon span span { display: inline; }
span.ref .balloon .refLink { float: right; margin: 7px 0px 0px; }
td.equationId { width: 95%; min-width: 95%; }
.type-book-series a { display: inline-block; max-width: 95%; margin-bottom: 5px; vertical-align: top; }
.type-book-series h3 { margin: 3px 0px 3px 1px; }
h3.multiAbsHead { margin: 15px 0px 50px; text-align: left; }
.multiAbs .contentMeta { font-size: 0.8em; }
.multiAbsItem { margin: 0px 25px 15px; padding: 7px; border: 3px solid rgb(204, 204, 204); border-radius: 4px; text-align: center; }
.multiAbs .firstPageImage { padding: 7px; border: 1px solid rgb(204, 204, 204); }
.multiAbs .contentMeta, .multiAbs h1, .multiAbs .artAuthors, .multiAbs .NLM_author-notes, .multiAbs p { text-align: left; }
.multiAbs h1 { font-size: 1.2em; }
.multiAbs .artAuthors, .multiAbs .NLM_author-notes { font-size: 0.9em; }
.multiAbsContentLinks { margin: -20px auto 15px; }
.multiAbsContentLinks a { display: inline-block; padding: 3px 5px; background: none repeat scroll 0% 0% rgb(51, 102, 153); border-radius: 4px; color: rgb(255, 255, 255); text-decoration: none; opacity: 0.8; }
.multiAbsContentLinks a:hover { opacity: 1; }
.multiAbs .actionLinks li { display: inline-block; margin-right: 10px; font-size: 0.8em; }
.suppl_list ul { list-style: disc outside none; padding-left: 25px; }
#book .bookPubDate, #book #journalNavPanel div p { display: none; }
.meetingLocation span { margin-right: 0.4em; }
#rss-feeds { padding: 15px; }
.type-search-results .yui-nav { display: block; margin-bottom: 10px; padding: 0px 0px 0px 7px; border-bottom: 2px solid rgb(204, 204, 204); }
.type-search-results .yui-nav li { display: inline-block; margin: 0px 10px 0px 0px; padding: 0px; }
.type-search-results .yui-nav li a { position: relative; top: 2px; display: block; padding: 5px 7px; background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 2px solid rgb(204, 204, 204); border-radius: 3px 3px 0px 0px; font-weight: normal; }
.type-search-results .yui-nav .selected a { background: none repeat scroll 0% 0% transparent; }
.type-search-results .yui-nav .selected a { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 2px solid rgb(255, 255, 255); font-weight: bold; }
.type-search-results .yui-nav li a { text-decoration: none; }
.type-search-results .yui-nav li a:hover { background: none repeat scroll 0% 0% rgb(37, 79, 98); color: rgb(255, 255, 255); }
.type-search-results .yui-nav .selected a:hover { background: inherit; color: inherit; cursor: default; }
.numResults { font-size: 9px; color: rgb(102, 102, 102); font-weight: normal; }
.yui-nav li a:hover .numResults { color: rgb(255, 255, 255); }
.yui-nav .selected a:hover .numResults { color: inherit; }
#quickSearchTabs .yui-content { padding-bottom: 5px; }
.searchBar { bottom: 72px; }
.issueNavigator #nextprev .links { position: relative; }
h3.sectionTitle, span.title2, #chapterDOI { line-height: 30px; }
body.popupBody { background-color: white; background-image: none; }
#content .table { border: medium none; }
#content .table td { padding-bottom: 15px; }
#content dl dt { font-weight: bold; }
.popupBody span.title2 { font-weight: bold; }
.NLM_book-part .title3, .NLM_book-part .title4 { line-height: 25px; }
.bookHeaderSection h3 { margin: 1em 0px; }
.headerToc { font-size: 15px; }
.NLM_disp-formula .fitImage img { max-width: 700px; }
#articleContent .tableListGroup p { margin: 0px; font-size: 1.1em; }
.popupBody .NLM_table-wrap .table, .popupBody .NLM_table-wrap .table td, .popupBody .NLM_table-wrap .table thead th { border: 1px solid black; border-collapse: collapse; border-spacing: 0px; }
.NLM_sec-type_references .ref { padding-bottom: 1em; }
.NLM_table-wrap td { border: medium none; }
div .boxed-text-float { margin: 1em 0em 1em 5em; font-weight: bold; display: inline-block; padding: 3px; border: 1px solid black; }
#articleContent div.boxed-text-float p { margin: 0px; }

/* ::::: http://arc.aiaa.org/templates/jsp/_style2/_pagebuilder/css/poll.css ::::: */

.bar { background-image: url('bar.jpg'); height: 8px; float: left; margin-right: 5px; overflow: hidden; }
.pollFooter { font-size: 0.8em; }
.ratio { font-size: 0.8em; margin-top: -2px; }
.answer { padding-bottom: 2px; }
.question { padding-bottom: 1em; }
.pollQuestion, .poll .error { padding: 0px 15px 5px; font-size: 0.7125em; line-height: 1.4em; }
.pollFooter { padding-bottom: 1em; padding-left: 1em; font-size: 0.6875em; line-height: 1.4em; }
.pollAnswer { padding: 0.5em 0px 0px 0.5em; }
.pollOthersAnswers { padding: 0.5em 0px 0px 19px; margin-left: 74px; position: relative; cursor: pointer; font-size: 11px; }
.pollTitle { background: url('leftRailBoxHeading.gif') repeat-x scroll left top transparent; height: 23px; text-transform: uppercase; padding: 11px 12px 1em 15px; font-family: "Times New Roman",Times,serif; line-height: normal; font-weight: bold; font-size: 0.6875em; }
.poll { border: 1px solid rgb(204, 204, 204); }
.pollFooter { text-align: center; padding-top: 1em; margin-top: 10px; }
.pollDate { font-weight: bold; }
.barWrapper { margin-right: 1.5em; }
.othersAnswersBarWrapperInactive { visibility: hidden; width: 0px; height: 0px; overflow: hidden; }
.othersAnswersBarWrapper { margin-right: 1.5em; margin-left: 20px; }
.pollSubmit { text-align: center; margin-top: 13px; }
.pollSubmit input { border: medium none; margin-bottom: 3px; text-indent: 62px; width: 62px; height: 22px; }
.poll .error { color: red; }
.othersRatioInactive { visibility: hidden; width: 0px; height: 0px; overflow: hidden; }
.othersRatio { visibility: visible; margin-top: -2px; }

/* ::::: null ::::: */

.pubCoden { display: none; }
