
/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/reset.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
article, aside, figure, footer, header, hgroup, nav, section { display: block; }
nav ul { list-style: none outside none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
ins { background-color: rgb(255, 255, 153); color: rgb(0, 0, 0); text-decoration: none; }
mark { background-color: rgb(255, 255, 153); color: rgb(0, 0, 0); font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted rgb(0, 0, 0); cursor: help; }
table { border-collapse: collapse; border-spacing: 0px; }
hr { display: block; height: 1px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 1em 0px; padding: 0px; }
input, select { vertical-align: middle; }
body { font: 13px/1.22 sans-serif; }
table { font-size: inherit; }
select, input, textarea { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace,sans-serif; }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/base.css ::::: */

body, select, input, textarea { color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizelegibility; }
html {  }
a:hover, a:active { outline: medium none; }
a, a:active, a:visited { color: rgb(96, 120, 144); }
a:hover { color: rgb(0, 51, 102); }
ul { margin-left: 30px; }
ol { margin-left: 30px; list-style-type: decimal; }
small { font-size: 85%; }
.bold, strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre-line; word-wrap: break-word; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(94, 159, 255); color: rgb(255, 255, 255); text-shadow: none; }
a:link {  }
html { overflow-y: scroll; }
button { width: auto; overflow: visible; }
.ie7 img {  }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/helper.css ::::: */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/jquery-ui-1.8.15.custom.css ::::: */

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); }
.ui-helper-reset { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none outside none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height: 1%; }
.ui-helper-clearfix { display: block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0px; left: 0px; position: absolute; opacity: 0; }
.ui-state-disabled { cursor: default ! important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget-overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid rgb(156, 172, 186); background: url('ui-bg_flat_100_ffffff_40x100.png') repeat-x scroll 50% 50% rgb(255, 255, 255); color: rgb(68, 68, 68); }
.ui-widget-content a { color: rgb(68, 68, 68); }
.ui-widget-header { border: 1px solid rgb(216, 232, 235); background: url('ui-bg_flat_75_f0f2f5_40x100.png') repeat-x scroll 50% 50% rgb(240, 242, 245); color: rgb(68, 68, 68); font-weight: bold; }
.ui-widget-header a { color: rgb(68, 68, 68); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(156, 172, 186); background: url('ui-bg_flat_100_b6c8d9_40x100.png') repeat-x scroll 50% 50% rgb(182, 200, 217); font-weight: normal; color: rgb(68, 68, 68); }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: rgb(68, 68, 68); text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid rgb(31, 63, 94); background: url('ui-bg_flat_75_1f3f5e_40x100.png') repeat-x scroll 50% 50% rgb(31, 63, 94); font-weight: normal; color: rgb(255, 255, 255); }
.ui-state-hover a, .ui-state-hover a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid rgb(156, 172, 186); background: url('ui-bg_glass_65_ffffff_1x400.png') repeat-x scroll 50% 50% rgb(255, 255, 255); font-weight: normal; color: rgb(68, 68, 68); }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: rgb(68, 68, 68); text-decoration: none; }
.ui-widget :active { outline: medium none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid rgb(252, 239, 161); background: url('ui-bg_glass_55_fbf9ee_1x400.png') repeat-x scroll 50% 50% rgb(251, 249, 238); color: rgb(54, 54, 54); }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: rgb(54, 54, 54); }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid rgb(194, 33, 33); background: url('ui-bg_flat_100_fff2f2_40x100.png') repeat-x scroll 50% 50% rgb(255, 242, 242); color: rgb(194, 33, 33); }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: rgb(194, 33, 33); }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: rgb(194, 33, 33); }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: 0.7; font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 0.35; background-image: none; }
.ui-icon { width: 16px; height: 16px; background-image: url('ui-icons_444444_256x240.png'); }
.ui-widget-content .ui-icon { background-image: url('ui-icons_444444_256x240.png'); }
.ui-widget-header .ui-icon { background-image: url('ui-icons_444444_256x240.png'); }
.ui-state-default .ui-icon { background-image: url('ui-icons_444444_256x240.png'); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url('ui-icons_ffffff_256x240.png'); }
.ui-state-active .ui-icon { background-image: url('ui-icons_444444_256x240.png'); }
.ui-state-highlight .ui-icon { background-image: url('ui-icons_2e83ff_256x240.png'); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url('ui-icons_c22121_256x240.png'); }
.ui-icon-carat-1-n { background-position: 0px 0px; }
.ui-icon-carat-1-ne { background-position: -16px 0px; }
.ui-icon-carat-1-e { background-position: -32px 0px; }
.ui-icon-carat-1-se { background-position: -48px 0px; }
.ui-icon-carat-1-s { background-position: -64px 0px; }
.ui-icon-carat-1-sw { background-position: -80px 0px; }
.ui-icon-carat-1-w { background-position: -96px 0px; }
.ui-icon-carat-1-nw { background-position: -112px 0px; }
.ui-icon-carat-2-n-s { background-position: -128px 0px; }
.ui-icon-carat-2-e-w { background-position: -144px 0px; }
.ui-icon-triangle-1-n { background-position: 0px -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0px -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0px -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0px -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0px -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0px -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0px -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0px -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0px -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0px -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0px -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0px -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0px -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0px -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px; }
.ui-widget-overlay { background: url('ui-bg_flat_0_aaaaaa_40x100.png') repeat-x scroll 50% 50% rgb(170, 170, 170); opacity: 0.75; }
.ui-widget-shadow { margin: 12px 0px 0px 8px; padding: 0px; background: url('ui-bg_flat_70_000000_40x100.png') repeat-x scroll 50% 50% rgb(0, 0, 0); opacity: 0; border-radius: 5px; }
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.ui-selectable-helper { position: absolute; z-index: 100; border: 1px dotted black; }
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0px none ! important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: 0.5em 0.5em 0.5em 0.7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: 0.5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0px none; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }
.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width: 1px; }
.ui-menu { list-style: none outside none; padding: 2px; margin: 0px; display: block; float: left; }
.ui-menu .ui-menu { margin-top: -3px; }
.ui-menu .ui-menu-item { margin: 0px; padding: 0px; float: left; clear: left; width: 100%; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 0.2em 0.4em; line-height: 1.5; }
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }
.ui-button { display: inline-block; position: relative; padding: 0px; margin-right: 0.1em; text-decoration: none ! important; cursor: pointer; text-align: center; overflow: visible; }
.ui-button-icon-only { width: 2.2em; }
button.ui-button-icon-only { width: 2.4em; }
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }
.ui-button .ui-button-text { display: block; line-height: 1.4; }
.ui-button-text-only .ui-button-text { padding: 0.4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: 0.4em; text-indent: -1e+7px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 0.4em 1em 0.4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 0.4em 2.1em 0.4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
input.ui-button { padding: 0.4em 1em; }
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: 0.5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: 0.5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: 0.5em; }
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0px; margin-right: -0.3em; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.ui-dialog { position: absolute; padding: 0.2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: 0.4em 1em; position: relative; }
.ui-dialog .ui-dialog-title { float: left; margin: 0.1em 16px 0.1em 0px; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0.3em; top: 50%; width: 19px; margin: -10px 0px 0px; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0px; }
.ui-dialog .ui-dialog-content { position: relative; border: 0px none; padding: 0.5em 1em; background: none repeat scroll 0% 0% transparent; overflow: auto; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0px 0px; background-image: none; margin: 0.5em 0px 0px; padding: 0.3em 1em 0.5em 0.4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: 0.5em 0.4em 0.5em 0px; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: 0.7em; display: block; border: 0px none; background-position: 0px 0px; }
.ui-slider-horizontal { height: 0.8em; }
.ui-slider-horizontal .ui-slider-handle { top: -0.3em; margin-left: -0.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0px; }
.ui-slider-horizontal .ui-slider-range-max { right: 0px; }
.ui-slider-vertical { width: 0.8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -0.3em; margin-left: 0px; margin-bottom: -0.6em; }
.ui-slider-vertical .ui-slider-range { left: 0px; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0px; }
.ui-slider-vertical .ui-slider-range-max { top: 0px; }
.ui-tabs { position: relative; padding: 0.2em; }
.ui-tabs .ui-tabs-nav { margin: 0px; padding: 0.2em 0.2em 0px; }
.ui-tabs .ui-tabs-nav li { list-style: none outside none; float: left; position: relative; top: 1px; margin: 0px 0.2em 1px 0px; border-bottom: 0px none ! important; padding: 0px; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: 0.5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0px; padding: 1em 1.4em; background: none repeat scroll 0% 0% transparent; }
.ui-tabs .ui-tabs-hide { display: none ! important; }
.ui-datepicker { width: 17em; padding: 0.2em 0.2em 0px; display: none; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0.2em 0px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-prev-hover { left: 1px; }
.ui-datepicker .ui-datepicker-next-hover { right: 1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0px 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0px; }
.ui-datepicker select.ui-datepicker-month-year { width: 100%; }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%; }
.ui-datepicker table { width: 100%; font-size: 0.9em; border-collapse: collapse; margin: 0px 0px 0.4em; }
.ui-datepicker th { padding: 0.7em 0.3em; text-align: center; font-weight: bold; border: 0px none; }
.ui-datepicker td { border: 0px none; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 0.2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: 0.7em 0px 0px; padding: 0px 0.2em; border-left: 0px none; border-right: 0px none; border-bottom: 0px none; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: 0.5em 0.2em 0.4em; cursor: pointer; padding: 0.2em 0.6em 0.3em; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }
.ui-datepicker.ui-datepicker-multi { width: auto; }
.ui-datepicker-multi .ui-datepicker-group { float: left; }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0px auto 0.4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0px; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0px; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }
.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0em; }
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }
.ui-datepicker-rtl .ui-datepicker-group { float: right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width: 0px; border-left-width: 1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0px; border-left-width: 1px; }
.ui-datepicker-cover { display: block; position: absolute; z-index: -1; top: -4px; left: -4px; width: 200px; height: 200px; }
.ui-progressbar { height: 2em; text-align: left; }
.ui-progressbar .ui-progressbar-value { margin: -1px; height: 100%; }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/style.css ::::: */

h1 { font-size: 182%; color: rgb(31, 63, 94); text-align: justify; }
h2 { font-size: 110%; }
h3 { font-size: 108%; }
h4 { font-size: 104%; }
h5, h6 { font-size: 100%; }
select { height: 20px; }
select.multiple { height: auto; }
#ds-referenceSet-list a { margin-bottom: 10px; }
input.my-radio { width: 1em; height: 1em; }
label.my-radio { font-size: 80%; color: black; }
.nedetid { font-weight: bold; position: absolute; left: 300px; top: 10px; width: 300px; font-size: 9pt; color: red; margin-left: 10px; margin-top: 10px; padding: 5px 0px 5px 16px; background-color: rgb(245, 245, 245); }
.klausul-item { margin: 10px 0px -27px; padding: 5px 0px; background-color: white; }
.klausul-item-span a { font-size: 9pt; color: red; margin: 10px 0px -27px; padding: 0px; background-color: rgb(245, 245, 245); }
.klausul-item-span { font-size: 9pt; margin: 10px 20px -27px -2px; padding: 5px 6px; background-color: rgb(245, 245, 245); }
.klausul-list { vertical-align: top; font-size: 8.5pt; color: red; margin: 5px; padding: 2px 6px; background-color: rgb(245, 245, 245); }
.klausul-file { vertical-align: bottom; font-size: 8.5pt; color: red; margin-top: 20px; margin-left: 0px; margin-bottom: -20px; padding: 2px 6px; background-color: rgb(245, 245, 245); }
.embargo-item-span { font-size: 9pt; color: red; margin: 10px 20px -27px -2px; padding: 5px 6px; background-color: rgb(245, 245, 245); }
#ds-header-wrapper { background-color: white; color: white; min-width: 950px; }
#ds-header-logo-link { text-decoration: none; cursor: pointer; }
#ds-header-logo { float: left; width: 48px; height: 50px; margin-top: 10px; background: url('dspace-logo-only.png') no-repeat scroll 0% 0% transparent; margin-right: 15px; }
#ds-header-logo-text { font-size: 260%; color: black; line-height: 70px; font-weight: normal; vertical-align: middle; float: left; }
#ds-header-logo-text-2 { font-size: 120%; color: black; line-height: 70px; font-weight: normal; vertical-align: middle; margin-top: 4px; margin-left: 10px; float: left; }
#ds-language-box { right: 0px; top: 13px; position: absolute; font-size: 87%; }
#ds-language-box-2 { right: 55px; top: 13px; position: absolute; font-size: 87%; }
#ds-language-box, #ds-language-box-2 a { text-decoration: none; }
#ds-user-box { right: 0px; top: 65px; position: absolute; font-size: 87%; }
#ds-user-box a { text-decoration: none; }
#ds-trail-wrapper { background-color: white; margin-top: 0px; margin-bottom: 10px; padding: 0px; border-top: 0.5px solid black; min-width: 950px; }
#ds-trail { list-style: none outside none; line-height: 138.5%; margin: 0px; padding: 3px 0px; }
#ds-trail li { display: inline; color: rgb(31, 63, 94); margin-right: 5px; }
#ds-trail a { color: rgb(31, 63, 94); }
#no-js-warning, #ds-trail, #ds-header, #ds-footer, #ds-content { width: 950px; margin: auto; position: relative; }
.ie6 #no-js-warning-wrapper, .ie6 #ds-trail-wrapper, .ie6 #ds-header-wrapper, .ie6 #ds-footer-wrapper, .ie6 #ds-content-wrapper { text-align: center; }
.ie6 #ds-trail, .ie6 #ds-header, .ie6 #ds-footer, .ie6 #ds-content { margin: 0px; text-align: left; }
#ds-footer-wrapper { margin-top: 40px; }
#ds-footer { border-top: 1px solid rgb(156, 172, 186); padding-top: 20px; font-size: 93%; line-height: 1.6em; }
#ds-footer-left { float: left; }
#ds-footer-right { float: right; }
#ds-footer-right span.theme-by { display: inline-block; vertical-align: top; }
#ds-footer-logo-link { text-decoration: none; line-height: 40px; cursor: pointer; }
#ds-footer-logo { display: inline-block; background: url('uio-app-uio-sickle-medium.png') no-repeat scroll 0% 0% transparent; width: 74px; height: 75px; }
#ds-footer-blank { display: inline-block; background: url('blank.png') no-repeat scroll 0% 0% transparent; width: 75px; height: 75px; }
#ds-footer-links { clear: left; }
.ie6 #ds-footer-links { display: inline; }
.ie6 #ds-header-logo, .ie6 #ds-footer-logo { visibility: hidden; }
#ds-body { float: left; width: 675px; padding-top: 10px; }
#ds-options-wrapper { float: right; width: 249px; padding-top: 0px; }
#ds-options { padding: 0px; }
#ds-student-option { padding-left: 10px; padding-top: 3px; padding-bottom: 4px; }
h1.ds-option-set-head { margin-top: 20px; background-color: rgb(240, 242, 245); padding: 3px 10px; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(216, 232, 235) rgb(216, 232, 235) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 108%; }
#ds-search-option-head { margin-top: 0px; }
div.ds-option-set { border-right: 1px solid rgb(216, 232, 235); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(216, 232, 235) rgb(216, 232, 235); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
div.ds-option-set ul { list-style: none outside none; margin-left: 10px; padding-top: 5px; padding-bottom: 5px; }
div.ds-option-set .ds-sublist-head { font-weight: normal; font-size: 100%; }
div.ds-option-set ul.sublist { margin-left: 20px; padding-top: 0px; padding-bottom: 0px; }
div#ds-feed-option li { padding-top: 4px; }
div#ds-feed-option a { padding: 0px 0px 2px 20px; }
#ds-search-option { padding-left: 10px; padding-right: 0px; font-size: 93%; border: medium none; }
#ds-search-form { margin-bottom: 10px; padding-top: 14px; }
#ds-search-form input.ds-text-field { width: 186px; }
#ds-search-form input.ds-button-field { margin-left: 6px; }
#ds-search-form input.ds-text-field, #ds-search-form input.ds-button-field { margin-bottom: 0px; }
p { margin-bottom: 10px; }
#aspect_eperson_EditProfile_list_form, .submission fieldset.ds-form-list, .administrative fieldset.ds-form-list { margin-bottom: 25px; }
.primary { margin-top: 10px; margin-bottom: 30px; }
ol { margin: 0px; list-style: none outside none; }
th, td { padding: 5px; vertical-align: middle; }
.ds-button-field, #aspect_eperson_StartRegistration_list_registration-progress li { background-color: rgb(109, 133, 156); border: 1px solid rgb(31, 63, 94); padding: 2px 5px; color: rgb(255, 255, 255); font-weight: bold; cursor: pointer; }
.ds-button-field[disabled="disabled"], .ds-button-field.disabled, li.button.disabled input { opacity: 0.35; cursor: auto; }
#aspect_eperson_StartRegistration_list_registration-progress li { cursor: default; }
#aspect_eperson_StartRegistration_list_registration-progress li.arrow { background-color: inherit; border: medium none; color: inherit; font-weight: normal; }
.ie6 #aspect_eperson_StartRegistration_list_registration-progress li.arrow, .ie7 #aspect_eperson_StartRegistration_list_registration-progress li.arrow { background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); }
.ie6 #aspect_eperson_StartRegistration_list_registration-progress li.arrow { padding-top: 5px; }
ul.ds-progress-list { margin: 0px 0px 10px; padding: 2px 0px; text-align: center; }
ul.ds-progress-list li { font-weight: bold; overflow: hidden; display: inline; padding: 0px; margin: 0px; max-width: 400px; }
ul.ds-progress-list li.button { padding: 0px; }
ul.ds-progress-list li.button input.ds-button-field { font-size: 77%; }
.ie6 ul.ds-progress-list li.button input.ds-button-field, .ie7 ul.ds-progress-list li.button input.ds-button-field { padding-left: 0px; padding-right: 0px; }
ul.ds-progress-list li.current input.ds-button-field, #aspect_eperson_StartRegistration_list_registration-progress li.current { background-color: rgb(73, 156, 115); border: 1px solid rgb(31, 94, 63); }
ul.ds-progress-list li.disabled input.ds-button-field #aspect_eperson_StartRegistration_list_registration-progress li.disabled { background-color: rgb(240, 242, 245); border: 1px solid rgb(216, 232, 235); color: rgb(68, 68, 68); cursor: default; }
.ie6 .disabled, .ie6 li.disabled input, .ie7 .ds-button-field.disabled, .ie7 li.button.disabled input, .ie8 .ds-button-field.disabled, .ie8 li.button.disabled input { cursor: auto; }
ul.ds-progress-list li.arrow { border: medium none; background: none repeat scroll 0% 0% transparent; font-size: 116%; font-weight: normal; margin-left: 3px; margin-right: 3px; }
.ie6 ul.ds-progress-list li.arrow { height: 25px; width: 25px; margin: 0px; }
textarea.ds-textarea-field, input.ds-text-field, input.ds-file-field, input.ds-button-field, input.ds-password-field { margin-bottom: 5px; margin-top: 5px; font-size: 83%; }
textarea.ds-textarea-field, input.ds-text-field, input.ds-password-field { padding: 3px; border: 1px solid rgb(170, 170, 170); }
.ie6 input.ds-text-field, .ie6 input.ds-password-field { font-size: 85%; height: 22px; }
.submission .ds-form-list input.ds-text-field, .administrative .ds-form-list input.ds-text-field, textarea.ds-textarea-field { width: 500px; }
table textarea.ds-textarea-field { width: 400px; }
#aspect_administrative_item_EditItemMetadataForm_field_value { width: 570px; }
#aspect_administrative_registries_EditMetadataSchema_list_edit-schema-new-field-form .ds-text-field, #aspect_administrative_item_EditItemMetadataForm_field_language, .ds-composite-component input.ds-text-field { width: auto; }
textarea.ds-textarea-field:focus, input.ds-text-field:focus, input.input.ds-password-field:focus { border-color: rgb(95, 157, 228); }
.rgba.boxshadow textarea.ds-textarea-field:focus, .rgba.boxshadow input.ds-text-field:focus, .rgba.boxshadow input.ds-password-field:focus { box-shadow: 0px 0px 8px rgba(95, 158, 212, 0.5); border-color: rgba(95, 158, 212, 0.75); outline: medium none; }
span.error { clear: both; display: block; color: rgb(194, 33, 33); font-size: 0.9em; margin-top: 3px; }
textarea.ds-textarea-field.error, input.ds-text-field.error, input.ds-password-field.error { border-color: rgb(194, 33, 33); background-color: rgb(255, 242, 242); }
.rgba.boxshadow textarea.ds-textarea-field.error:focus, .rgba.boxshadow input.ds-text-field.error:focus, .rgba.boxshadow input.ds-password-field.error:focus { box-shadow: 0px 0px 8px rgba(194, 33, 33, 0.5); border-color: rgba(194, 33, 33, 0.75) ! important; outline: medium none; }
.ds-form-list { margin-top: 15px; }
.submission h2, .ds-form-list legend { font-size: 182%; margin-bottom: 15px; color: rgb(31, 63, 94); }
.ds-form-item legend { font-size: 100%; margin: 0px; color: inherit; }
fieldset ol { margin: 0px; }
li.ds-form-item { list-style: none outside none; margin-bottom: 35px; vertical-align: middle ! important; position: relative; clear: left; }
li.ds-form-item.last { margin-bottom: 0px; }
li.ds-form-item .ds-form-label { font-weight: bold; font-size: 123.1%; }
li.ds-form-item label.ds-composite-component { display: block; float: left; font-size: 93%; padding: 0px 8px 0px 0px; }
li.ds-form-item label.ds-composite-component input.ds-text-field { font-size: 100%; width: 242px; }
li.ds-form-item .ds-select-field { margin-top: 5px; }
.ds-add-button, label.ds-composite-component .ds-select-field { margin-top: 6px; margin-bottom: 6px; }
li.ds-form-item label.ds-composite-component.last { padding: 0px; }
.ds-add-button { vertical-align: top; margin-left: 8px; }
.ds-form-content input.ds-button-field { font-size: 93%; }
#aspect_submission_StepTransformer_field_dc_date_issued_year, #aspect_submission_StepTransformer_field_dc_date_issued_day { width: 50px; }
#aspect_submission_StepTransformer_field_dc_identifier_value { width: 130px; margin-bottom: 0px; }
span.composite-help, span.field-help { display: block; font-size: 93%; margin-top: 3px; width: 506px; text-align: justify; }
.ds-checkbox-field input, .ds-radio-field input { margin-left: 0px; }
.ds-checkbox-field label, .ds-radio-field label { margin-right: 3px; }
.ds-checkbox-field legend, .ds-radio-field legend { display: none; }
.ds-previous-values { margin-top: 10px; clear: both; }
#aspect_submission_Submissions_div_submissions .ds-static-div, .submission .ds-form-sublist ol { background-color: rgb(250, 250, 250); border: 1px solid rgb(235, 235, 235); margin-top: 3px; margin-bottom: 30px; padding: 10px; }
#aspect_submission_Submissions_div_submissions table, #aspect_submission_Submissions_div_submissions table tr, #aspect_submission_Submissions_div_submissions table td, #aspect_submission_Submissions_div_submissions table th { background-color: rgb(255, 255, 255); border: 1px solid rgb(156, 172, 186); }
#aspect_submission_Submissions_div_submissions table tr.ds-table-header-row, #aspect_submission_Submissions_div_submissions table tr.ds-table-header-row th { background-color: rgb(182, 200, 217); border: 1px solid rgb(156, 172, 186); }
.submission .ds-form-sublist li.ds-form-item { margin-bottom: 5px; }
.submission .ds-form-sublist .ds-form-label { font-weight: bold; }
.administrative.tabbed ul.horizontal { list-style: none outside none; margin: 15px 0px 0px; border-bottom: 1px solid rgb(156, 172, 186); }
.administrative.tabbed ul.horizontal li { float: left; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(156, 172, 186) rgb(156, 172, 186) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 5px; margin-bottom: -1px; margin-right: 7px; }
.administrative.tabbed ul.horizontal li a { text-decoration: none; color: rgb(68, 68, 68); }
.administrative.tabbed ul.horizontal li.active-tab { background-color: rgb(250, 250, 250); z-index: 1; font-weight: bold; }
.pane { padding: 10px; clear: both; background-color: rgb(250, 250, 250); border: 1px solid rgb(156, 172, 186); margin-bottom: 25px; margin-top: 0px; }
.pane .ds-form-list { margin-top: 0px; }
.administrative.tabbed .pane { border-top: medium none; }
.pagination, .pagination-masked { padding: 7px; background-color: rgb(250, 250, 250); border: 1px solid rgb(235, 235, 235); line-height: 1em; vertical-align: middle; }
.pagination-links { list-style: none outside none; float: right; margin: 0px; }
.pagination-links li { display: inline; padding-left: 2px; padding-right: 2px; }
.current-page-link { font-weight: bold; color: rgb(31, 63, 94); }
.current-page-link a { color: rgb(31, 63, 94); }
.pagination-info { float: left; margin: 0px; }
.pagination-masked.top { margin-top: 5px; }
.ds-artifact-list { list-style: none outside none; margin: 0px; line-height: 153.9%; }
.file-wrapper, .ds-artifact-item { padding-top: 15px; padding-bottom: 15px; }
.ds-artifact-item.collection, .ds-artifact-item.community { list-style: none outside none; padding-top: 1px; padding-bottom: 1px; }
.community .artifact-title a { font-weight: bold; font-size: 104%; }
.collection .artifact-title a { font-weight: normal; font-size: 104%; }
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser .short-description, #aspect_discovery_SiteRecentSubmissions_div_site-home .short-description { display: none; }
#aspect_artifactbrowser_SimpleSearch_div_search-results li, #aspect_discovery_SimpleSearch_div_search-results li, #aspect_artifactbrowser_AdvancedSearch_div_search-results li { padding-top: 15px; padding-bottom: 15px; }
#aspect_artifactbrowser_SimpleSearch_div_search-results ul, #aspect_discovery_SimpleSearch_div_search-results ul, #aspect_artifactbrowser_AdvancedSearch_div_search-results ul { margin-bottom: 25px; }
.artifact-title { font-size: 104%; }
.result-query, .artifact-info { color: gray; }
.artifact-abstract { text-align: justify; }
ul.alphabet { list-style: none outside none; margin: 0px; }
ul.alphabet li { display: inline; }
#aspect_eperson_PasswordLogin_list_password-login .ds-form-item { float: left; margin: 0px 25px 0px 0px; }
#aspect_eperson_PasswordLogin_list_password-login .ds-form-item a { margin-left: 20px; }
#aspect_eperson_PasswordLogin_list_password-login .ds-form-item.last { clear: left; }
#aspect_eperson_PasswordLogin_list_password-login .ds-form-item.last .ds-form-label { display: none; }
td select.ds-select-field { margin-left: 5px; }
form.search { background-color: rgb(250, 250, 250); border: 1px solid rgb(235, 235, 235); padding: 10px; margin-bottom: 15px; }
form.search label { font-weight: bold; }
form.search p.ds-paragraph.button-list { text-align: center; margin: 0px; }
form.search fieldset { margin: 0px; }
form.search .ds-form-item { margin: 0px; padding-bottom: 5px; }
form.search .ds-form-item select { margin-top: 0px; }
form.search label.ds-composite-component .ds-select-field { margin-top: 6px; }
form.search .ds-form-item label { font-size: 100%; }
form.search .ds-form-content { display: inline; }
form.search table input.ds-text-field { margin: 0px; }
form.search .field-help { margin: 3px 0px; }
.collection .search, .community .search { margin-top: 25px; }
#aspect_discovery_CollectionSearch_p_search-query, #aspect_discovery_CommunitySearch_p_search-query { margin-bottom: 0px; }
.result-query { margin-bottom: 30px; }
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields, #aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table, #aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry, #aspect_submission_Submissions_table_unfinished-submissions, #aspect_submission_Submissions_table_submissions-inprogress, #aspect_submission_Submissions_table_completed-submissions, table.detailtable { margin-top: 10px; margin-bottom: 10px; border-collapse: collapse; }
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr, #aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr, #aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr, #aspect_submission_Submissions_table_unfinished-submissions tr, #aspect_submission_Submissions_table_submissions-inprogress tr, #aspect_submission_Submissions_table_completed-submissions tr, table.detailtable tr { line-height: 1.6em; border: 1px solid rgb(235, 235, 235); }
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr.even, #aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr.even, #aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr.even, #aspect_submission_Submissions_table_unfinished-submissions tr.even, #aspect_submission_Submissions_table_submissions-inprogress tr.even, #aspect_submission_Submissions_table_completed-submissions tr.even, table.detailtable tr.even { background-color: rgb(250, 250, 250); }
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields td, #aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table td, #aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry td, #aspect_submission_Submissions_table_unfinished-submissions td, #aspect_submission_Submissions_table_submissions-inprogress td, #aspect_submission_Submissions_table_completed-submissions td, table.detailtable td { padding: 5px 10px; text-align: justify; border: 1px solid rgb(235, 235, 235); vertical-align: top; }
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr.ds-table-header-row, #aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr.ds-table-header-row, #aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr.ds-table-header-row, #aspect_submission_Submissions_table_unfinished-submissions tr.ds-table-header-row, #aspect_submission_Submissions_table_submissions-inprogress tr.ds-table-header-row, #aspect_submission_Submissions_table_completed-submissions tr.ds-table-header-row { border: medium none; }
table.detailtable td.label-cell { font-weight: bold; text-align: left; width: 100px; }
div.item-summary-view-metadata h1 { font-size: 123.1%; font-weight: bold; line-height: normal; margin-bottom: 10px; }
div.item-summary-view-metadata h2 { font-weight: bold; line-height: normal; }
div.item-summary-view-metadata { text-align: justify; line-height: 161.6%; margin-bottom: 30px; }
div.simple-item-view-authors { font-size: 110%; font-weight: bold; border-bottom: 1px solid rgb(216, 232, 235); padding-bottom: 12px; text-align: justify; }
div.simple-item-view-type { padding-top: 12px; text-align: justify; }
div.simple-item-view-authors span { text-align: justify; }
#aspect_artifactbrowser_ItemViewer_div_item-view h2, div.item-summary-view-metadata p.item-view-toggle-bottom, div.simple-item-view-description { margin-top: 20px; }
#aspect_artifactbrowser_ItemViewer_div_item-view h2, div.simple-item-view-description h3 { border-bottom: 1px solid rgb(216, 232, 235); margin-bottom: 3px; }
#aspect_artifactbrowser_ItemViewer_div_item-view h2 { margin-bottom: 10px; }
div.spacer { height: 15px; }
.thumbnail-wrapper, .file-metadata, .file-link { float: left; margin-right: 15px; }
.item-metadata { float: left; }
.file-metadata { width: 300px; }
.file-metadata span, .item-metadata span { float: left; }
.item-metadata span.content span { float: none; }
.file-metadata span.bold, .item-metadata span.bold { width: 80px; clear: left; text-align: right; margin-right: 7px; }
#ds-system-wide-alert, .notice { padding: 10px; margin: 10px 0px; border: 1px solid rgb(191, 194, 33); background-color: rgb(255, 255, 242); }
.notice.success { border-color: rgb(33, 194, 33); background-color: rgb(242, 255, 242); }
#ds-system-wide-alert, .notice.failure { border-color: rgb(194, 33, 33); background-color: rgb(255, 242, 242); }
#ds-system-wide-alert p { margin: 0px; }
#aspect_artifactbrowser_CommunityViewer_div_community-home h2, #aspect_artifactbrowser_CollectionViewer_div_collection-home h2 { margin-top: 30px; border-bottom: 1px solid rgb(216, 232, 235); margin-bottom: 3px; }
.ds-logo-wrapper { display: block; }
#aspect_administrative_item_FindItemForm_list_find-item-form .ds-form-item { margin: 0px; }
#aspect_administrative_registries_EditMetadataSchema_div_edit-schema-new-field .ds-form-item.last { margin-top: -25px; }
#aspect_discovery_SimpleSearch_list_primary-search h2, #aspect_discovery_SimpleSearch_list_secondary-search h2 { display: none; visibility: hidden; }
#aspect_discovery_SimpleSearch_item_search-filter-list div.spacer { display: none; }
#aspect_discovery_SimpleSearch_div_search-filters { margin-top: -5px; margin-bottom: 5px; padding-top: 10px; padding-bottom: 2px; }
#aspect_discovery_SimpleSearch_list_search-controls { margin-top: -5px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 0px; }
#aspect_discovery_SimpleSearch_list_search-controls h2 { display: none; }
#aspect_discovery_SimpleSearch_div_general-query { margin-top: -5px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 0px; }
#no-js-warning { margin-top: 15px; margin-bottom: 10px; text-align: center; }
form.discover-search-box { margin-bottom: 10px; }
li.search-filter-list, li.used-filters-list { padding-top: 5px; }
form.discover-sort-box select { margin: 0px 4px; }
.hidden { display: none; visibility: hidden; }
.icon-button { padding: 4px; cursor: pointer; margin: 2px; background-color: rgb(109, 133, 156); border: 1px solid rgb(31, 63, 94); text-indent: -1000px; width: 30px; height: 30px; display: block; font-size: 0px; line-height: 0; }
.icon-button.arrowUp { background-image: url('arrow_up_ffffff_16x16.png'); background-repeat: no-repeat; background-position: center center; }
.icon-button.arrowDown { background-image: url('arrow_down_ffffff_16x16.png'); background-repeat: no-repeat; background-position: center center; }
span.floatleft { border: medium none; float: right; display: inline; }
ul.horizontal li span.bold a { color: black; }
ul.horizontalVanilla { font-weight: bold; list-style-type: none; padding: 0px 0px 15px; border-left: 1px solid white; border-right: 1px solid white; margin: 10px -1px 5px; width: inherit; }
ul.horizontalVanilla li { float: left; height: 100%; background-color: rgb(255, 255, 255); margin: 2px 2px 0px; }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/authority-control.css ::::: */

div.autocomplete { display: none; }
div.autocomplete, ul.ui-menu { position: absolute; width: 250px; background-color: white; border: 1px solid rgb(136, 136, 136); margin: 0px; padding: 0px; }
div.autocomplete ul, ul.ui-menu { list-style-type: none; margin: 0px; padding: 0px; }
div.autocomplete ul li.selected { background-color: rgb(255, 255, 187); }
div.autocomplete ul li, ul.ui-menu li { list-style-type: none; display: block; margin: 0px; padding: 2px; cursor: pointer; }
div.autocomplete ul li span.value { display: none; }
ul.ui-menu li a { display: block; }
ul.ui-menu li a.ui-state-hover { background-color: rgb(255, 255, 187); }
img.ds-authority-confidence { width: 16px; height: 16px; margin: 0px 2px; padding: 0px; vertical-align: bottom; display: inline-block; }
img.ds-authority-confidence.cf-unset { background: url('bug.png') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-novalue { background: url('3-circleslash.gif') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-rejected, img.ds-authority-confidence.cf-failed { background: url('2-errortriangle.gif') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-notfound { background: url('3-thumb2.gif') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-ambiguous { background: url('4-question.gif') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-uncertain { background: url('5-pinion.gif') repeat scroll 0% 0% transparent; }
img.ds-authority-confidence.cf-accepted { background: url('6-thumb2.gif') repeat scroll 0% 0% transparent; }
input.ds-authority-value { display: none; }
input.ds-authority-value.ds-authority-visible { display: inline; }
input.ds-authority-lock { vertical-align: bottom; height: 24px; width: 24px; background-repeat: no-repeat; background-color: transparent; }
input.ds-authority-lock.is-locked { background-image: url('lock24.png'); }
input.ds-authority-lock.is-unlocked { background-image: url('unlock24.png'); }
span.ds-dc_contributor_author-authority { color: rgb(152, 37, 33); }
#aspect_general_ChoiceLookupTransformer_div_lookup select { height: auto; }

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/uio-app-top-bottom.css ::::: */

#app-head a, #app-footer a { color: rgb(11, 90, 157); text-decoration: none; }
#app-head a:hover, #app-footer a:hover { text-decoration: underline; }
#app-head, #app-footer { background-color: rgb(255, 255, 255); clear: both; position: relative; }
#app-head-wrapper { background: url('uio-app-head-white-grey-border.png') repeat-x scroll left bottom rgb(255, 255, 255); margin-bottom: 0px; }
#app-head { margin: 0px auto; height: 128px; background-color: transparent; width: 970px; text-align: left; }
#app-content { width: 940px; margin: 0px auto 20px; text-align: left; padding: 30px; position: relative; }
#app-footer-wrapper { text-align: center; border-top: 1px solid rgb(228, 228, 228); background-color: rgb(255, 255, 255); padding: 0px; position: relative; }
#app-footer { width: 940px; margin: 0px auto; text-align: left; border: medium none; font: 0.85em/1.25em Verdana,sans-serif; background: url('uio-app-uio-sickle-medium.png') no-repeat scroll 15px 24px transparent; padding: 24px 15px 44px; }
#app-head:after, #app-footer:after, #app-content:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
#app-head-wrapper #line-top { background-color: rgb(0, 0, 0); height: 34px; }
#app-head-wrapper #line-top #uiologo { width: 970px; margin: 0px auto; position: relative; height: 34px; }
#app-head-wrapper #line-top #uiologo a { background: url('uio-app-uio-small-black.png') no-repeat scroll 0px 0px transparent; display: block; overflow: hidden; position: absolute; top: 10px; left: 15px; height: 15px; width: 195px; text-indent: -9999px; }
#app-head-wrapper #line-top #uiologo.english-uiologo a { background-image: url('uio-app-uio-small-black-eng.png'); height: 18px; }
#app-head-wrapper #line-top #uiologo a:hover { background: url('uio-app-uio-small-black.png') no-repeat scroll 0px -17px transparent; }
#app-head-wrapper #line-top #uiologo.english-uiologo a:hover { background-image: url('uio-app-uio-small-black-eng.png'); }
#app-head #head-menu { font-weight: bold; position: absolute; top: 16px; right: 15px; }
#app-head #head-menu ul { font-weight: bold; margin: 0px; padding: 0px; float: right; list-style: none outside none; }
#app-head #head-menu ul li { background-image: none; margin: 0px 0px 0px 10px; padding: 0px; list-style: none outside none; display: inline; font-size: 0.92em; color: rgb(0, 0, 0); }
#app-head #head-menu a { color: rgb(0, 0, 0); }
#app-head-wrapper #head-login { position: absolute; top: 84px; right: 15px; font-size: 0.92em; }
#app-head-wrapper #head-login #head-login-user-fullname { padding-right: 10px; }
#app-head form { position: absolute; right: 15px; top: 46px; }
#app-head #app-name { position: absolute; top: 38px; left: 15px; font-size: 2.77em; font-weight: bold; color: rgb(150, 148, 142); line-height: 1.05em; white-space: nowrap; }
#app-head #app-name a { color: rgb(150, 148, 142); }
#app-head #app-name span#tagline { color: rgb(0, 0, 0); font-size: 0.47em; margin-top: 10px; line-height: 1em; display: block; font-weight: normal; }
#app-head #app-name a:hover { text-decoration: none; color: rgb(11, 90, 157); }
#app-footer div span { display: block; color: rgb(94, 94, 94); margin-bottom: 3px; }
#app-footer span.vrtx-label { font-weight: bold; color: rgb(126, 126, 126); }
#app-footer #contact-info, #app-footer #app-responsible { width: auto; float: right; }
#app-footer div.phone-fax-email { padding-right: 50px; }
.app-fluid { min-width: 880px; }
.app-fluid #app-head-wrapper, .app-fluid #app-footer-wrapper { min-width: 880px; width: 100%; }
.app-fluid #app-head, .app-fluid #app-head-wrapper #line-top #uiologo, .app-fluid #app-footer { width: auto; max-width: 1200px; padding-left: 50px; padding-right: 50px; }
.app-fluid #app-content { width: auto; min-width: 780px; padding-left: 50px; padding-right: 50px; }
.app-fluid #app-footer { background-position: 50px 24px; }
.app-fluid #app-head-wrapper #line-top #uiologo a, .app-fluid #app-head #app-name { left: 50px; }
.app-fluid #app-head #head-menu, .app-fluid #app-head form, .app-fluid #app-head-wrapper #head-login { right: 50px; }
* html .app-fluid #app-footer { float: left; }
#app-head form, #app-head fieldset, #app-head input, #app-head button { margin: 0px; padding: 0px; }
#app-head fieldset { border: 0px none; }
#app-head input, #app-head button { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; }
#app-head form fieldset { background: none repeat scroll 0% 0% transparent; border: medium none; }
#app-head form { font-size: 0.92em; }
#app-head form button:active, #app-head form button.active, #app-head form button:hover { background: url('uio-app-button-small-right-rollover.png') no-repeat scroll 100% 0px transparent; }
#app-head form button:active span, #app-head form button.active span, #app-head form button:hover span { background: url('uio-app-button-small-left-rollover.png') no-repeat scroll 0px 0px transparent; }
#app-head form { background: url('uio-app-form-input.png') no-repeat scroll 0px 0px transparent; height: 23px; padding-left: 10px; padding-top: 2px; width: 223px; }
#app-head form { position: absolute; right: 15px; top: 46px; }
#app-head form label { position: absolute; left: -9999px; top: -1000px; }
#app-head form input { border: 1px solid transparent; margin-top: 3px; width: 165px; }
#app-head form input:focus { outline: 0px none; }
#app-head form button { background: url('uio-app-button-small-right.png') no-repeat scroll 100% 0px transparent; border: medium none; cursor: pointer; height: 25px; margin-right: -3px; overflow: visible; padding-right: 3px; position: absolute; right: 0px; top: 0px; }
#app-head form button span { background: url('uio-app-button-small-left.png') no-repeat scroll 0px 0px transparent; display: block; height: 20px; padding: 5px 10px 0px 12px; }
#app-head form::-moz-focus-inner, #app-head form button::-moz-focus-inner { border: medium none; padding: 0px; }
* html #app-head input { border: medium none; }
* html #app-head form { background-image: url('uio-app-form-input.gif'); }
@media only screen and (max-device-width: 480px) {
  #app-head form button span { margin-right: -6px; }
  input {  }
}

/* ::::: https://www.duo.uio.no/themes/DUO/lib/css/media.css ::::: */

@media all and (orientation: portrait) {
}
@media all and (orientation: landscape) {
}
@media screen and (max-device-width: 480px) {
  html {  }
}
